@media only screen and (max-width: 1600px) {

}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1300px) {
  .main-subscribtion-form_input-checkbox-block {
    margin-bottom: 53px;
  }

  .main-subscribtion-form_title {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1199px) {

  .order-train_way .order-content_btn {
    width: 195px;
  }
  .order-train-way_input,  body .stations_search .order-train-way_input + .select2 .select2-selection {
    width: 185px;
  }

  .keyvisual-carousel .owl-dots {
    padding-top: 20px;
  }

  .keyvisual_item {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 505px;
  }

  /*.keyvisual_text__upper {
    margin-top: 100px;
  }*/
  /*.keyvisual_link {
    margin-bottom: 100px;
  }*/
  .keyvisual_title {
    width: 500px;
  }
  .keyvisual-carousel .owl-nav {
    width: 970px;
  }
  .keyvisual_img {
    bottom: -20px;
  }

  .keyvisual_img {
    bottom: -20px;
  }

  .download,
  .download_hand {
    height: 520px;
  }

  .download_hand img {
    height: 570px;
  }

  .history-block-table-header_cell,
  .history-block-table_cell {
    font-size: 15px;
    line-height: 15px;
  }

  .history-block_restaurant-logo {
    height: 210px;
  }

  .main-subscribtion {
    padding-bottom: 0;
  }

  .restourants-page-contain-min_input {
    width: 155px;
  }

  .food-content_order-content .food-content-order-content_input {
    width: 70px;
  }

  .food-content-bye_text {
    font-size: 15px;
    line-height: 25px;
  }

  .food-content_bye {
    padding: 5px 20px;
  }

  .stations-train-table-header_cell,
  .stations-train-table_cell {
    font-size: 17px;
  }

  .stations-search_image {
    width: 110px;
    margin-right: 30px;
    float: left;
  }

  .order-home-search_button {
    padding: 20px 55px;
    background-color: #ffbb38;
    color: #ff3f3f;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -moz-border: none;
    -ms-border: none;
    -o-border: none;
    border: none;
    position: relative;
    top: 2px;
  }

  .stations-search_input {
    font-size: 16px;
  }

  .stations-search_input + span>span>.select2-selection {
    font-size: 16px;
    line-height: 19px;
    min-height: 59px;
  }

  .stations_search .order-home-search_button {
    line-height: 19px;
    font-size: 23px;
    padding: 20px 55px;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -moz-border: none;
    -ms-border: none;
    -o-border: none;
    border: none;
    position: relative;
  }

  .owl-carousel.owl-theme .main-check-in_about,
  .main-check-in_about {
    margin-top: 15px;
  }

  .owl-carousel.owl-theme .main-check-in-about_bottom-text,
  .main-check-in-about_bottom-text {
    margin-right: 20px;
  }

  .owl-carousel.owl-theme .main-check-in_link,
  .main-check-in_link {
    font-size: 22px;
    line-height: 20px;
  }

  .owl-carousel.owl-theme .main-check-in_hand,
  .main-check-in_hand {
    left: calc(100% - 60px);
    top: 66px;
  }

  .main-subscribtion-form_input {
    margin-right: 30px;
  }

  .main-subscribtion-form_input-checkbox-block {
    margin-bottom: 50px;
  }

  .main-form_left-image {
    /*top: 0;*/
    left: 30px;
    /*transform: rotate(180deg);*/
    max-width: 100%;
    width: 265px;
  }

  .main-subscribtion_right-block {
    margin-bottom: 40px;
  }

  .main-subscribtion_right-info {
    display: inline-block;
    width: 33%;
  }

  .main-subscribtion-right-info_text {
    margin-bottom: 0px;
  }

  .restourants-page-restaurant-type_name {
    font-size: 20px;
    line-height: 20px;
  }

  .restourants-page-restaurant-info_amount,
  .restourants-page-restaurant-info_delivery,
  .restourants-page-restaurant-info-time {
    font-size: 15px;
    line-height: 15px;
  }

  .restourants-page-restaurant-info_text {
    line-height: 15px;
  }

  .restourants-page-restaurant-additional_pay img {
    width: 40%;
  }

  .restourants-page-restaurant-additional_pay {
    font-size: 12px;
    line-height: 16px;
    max-width: 150px;
    margin: 0 auto 10px;
  }

  .restourants-page-restaurant-additional_pay__not-working {
    max-width: none;
  }

  .restourants-page-restaurant-additional_like {
    margin-top: 20px;
  }

  .order-home_food .owl-prev,
  .order-home_food .owl-next {
    width: 125px;
  }

  .order-home_food .owl-prev:after,
  .order-home_food .owl-next:after {
    bottom: 40px;
  }
  .order-home-food_link span, .order-home-food_more span {
    font-size: 16px;
    line-height: 18px;
  }

  .main_gallery a {
    width: calc(25% - 4px);
  }

  .download_hand img {
    height: 625px;
    width: 420px;
  }

  .footer-soc-list_element {
    margin-right: 10px;
  }

  .food-content-text_cost {
    margin-bottom: 15px;
  }
  .header_status {
    padding: 5px;
    margin-top: 5px;
  }
  .header_status-margin{
    margin-top: 15px;
  }
}

@media only screen and (max-width: 991px) {

  .stations_search .form-group {
      margin-right: 15px;
  }
 .order-train_way .order-content_btn {
    color: transparent;
    width: 45px;
    padding: 0;
  }
  .order-train_way .order-content_btn {
    top: 0;
  }

  .stations_search .form-group {
      float: left;
  }

  .order-train_way .order-content_btn .fa {
    -moz-border-right: none;
    -ms-border-right: none;
    -o-border-right: none;
    border-right: none;
  }

  .order-train-way_arrows {
    margin-left: -7px;
    margin-right: 3px;
    margin-top: 14px;
  }

  .order-train-way_input,  body .stations_search .order-train-way_input + .select2 .select2-selection {
    /*margin-right: 10px;*/
  }

  .order-train-way_input,  body .stations_search .order-train-way_input + .select2 .select2-selection {
    width: 165px;
  }

  .keyvisual_item {
    padding-top: 70px;
    padding-bottom: 70px;
    height: 445px;
  }

  /*.keyvisual_text__upper {
    margin-top: 70px;
  }*/

  /*.keyvisual_link {
  margin-bottom: 70px;
  }*/

  .keyvisual-carousel .owl-nav {
    width: 750px;
  }

  .keyvisual_img {
    right: -100px;
  }

  body .user-page_list {
    text-align: center;
  }

  body .user-page_link {
    display: inline-block;
    float: none;
    border-bottom: none;
    text-align: right;
    border-radius: 10px 10px 0 0px;
    margin-bottom: 0;
    padding-right: 15px;
    margin-right: -15px;
  }

  .main-subscribtion {
	height: auto;
  }

  .history-block_restaurant-logo {
    height: 140px;
  }

  .history-block_agent-name {
    font-size: 30px;
    line-height: 30px;
  }

  .history-block_agent-name {
    margin-top: 25px;
  }

  .history-block_table {
    margin-top: 20px;
  }

  .history-block_date,
  .history-block_status {
    font-size: 16px;
    line-height: 16px;
  }

  .main-subscribtion .form-group.field-mailform-email .col-sm-6 {
    padding: 0;
  }

  body .no-padding-left-main-subscription {
    padding-left: 15px;
  }

  .restourants-page-contain_min-cost .input-number_button {
    width: 50px;
  }

  .basket-content-header_cell:nth-child(3) {
    width: 150px;
    min-width: 50px;
    font-size: 16px;
  }

  .basket-content-header_cell {
    min-width: 65px;
    font-size: 16px;
  }

  .input-number_button {
    width: 40px;
  }

  .food-content_order-content .food-content-order-content_input {
    width: 100px;
  }

  .restourants-page-restaurant-additional_pay img {
    width: 40%;
  }

  .restourants-page-restaurant-additional_like span {
    font-size: 12px;
    line-height: 12px;
    margin-left: 0;
  }

  .modal-dialog.modal-lg .modal-footer .btn.btn-danger,
  .modal-dialog.modal-lg .modal-footer .btn.btn-success,
  .modal-dialog.modal-lg .modal-footer .btn.btn-default {
    padding: 10px 15px;
    font-size: 13px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .food-content_order-content input,
  .modal-body input {
    padding-left: 0px;
  }

  .order-home_food .owl-prev:after,
  .order-home_food .owl-next:after {
    bottom: 60px;
  }

  .choose-city-tab_link {
    font-size: 17px;
  }

  .choose-city-tab_element {
    width: 180px;
  }

  .stations-train-table-header_cell,
  .stations-train-table_cell {
    padding: 15px 0px 15px;
  }

  .stations-train-table_row .stations-train-table_cell:nth-child(3):before,
  .stations-train-table_row .stations-train-table_cell:nth-child(5):before {
    width: 120px;
  }

  .stations-train-table-header_cell:nth-child(2) {
    text-align: left;
  }

  .stations-train-table_cell:nth-last-child(2) {
    text-align: right;
  }

  .stations_search .form-group {
    width: auto;
    margin-right: 15px;
    /*margin-bottom: 15px;*/
  }

  .stations_search .form-group.field-stationform-date {
    margin-bottom: 0;
  }

  .stations_search .order-home-search_button {
    padding: 20px 83px;
  }

  .header {
    text-align: center;
    height: 120px;
  }

  .header_location,
  .header_city {
    font-size: 15px;
    line-height: 15px;
  }

  .header_auth {
    font-size: 15px;
    line-height: 15px;
  }
  .header_status {
    padding: 5px;
    margin-top: 5px;
  }
  .owl-carousel.owl-theme .main-check-in_hand,
  .main-check-in_hand {
    left: auto;
    right: 65px;
    top: 12px;
    width: 120px;
  }

  .owl-carousel.owl-theme .main-check-in_about,
  .main-check-in_about {
    margin: 15px auto;
    max-width: 100%;
    width: 650px;
  }

  .owl-carousel.owl-theme .main-check-in_map,
  .main-check-in_map {
    max-width: 600px;
  }

  .main-order_link-image {
    margin-bottom: 15px;
    max-height: 180px;
    max-width: 180px;
  }

  .main-form_left-image {
    position: absolute;
    filter: blur(10px);
    transform: rotate(0);
    right: 0;
    left: 0;
    top: 130px;
    margin: auto;
    opacity: .5;
    width: 300px;
  }

  .main-subscribtion_form {
    max-width: 550px;
    margin: 0 auto;
  }

  .main-subscribtion_download {
    padding-bottom: 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 550px;
    margin-bottom: 40px;
  }

  .main-subscribtion_right-info {
    width: 32%;
    margin: 0 auto;
  }

  .main-subscribtion_right-block {
    margin-bottom: 50px;
  }

  .footer_soc-list {
    margin-bottom: 10px;
  }

  .footer-soc-list_element {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .header_logo {
    margin-top: 5px;
  }
  .aside_hamburger {
    display: block;
    z-index: 2;
  }

  .restourants-page-contain_sidebar {
    width: 0;
    background-color: rgba(235, 235, 238, 1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    transition: all .6s;
  }
  .restourants-page-contain_sidebar.open_sidebar {
    width: 335px;
    opacity: 1;
    padding-left: 70px;
    transition: all .6s;
  }

  .restourants-page-restaurant-type_name {
    font-size: 18px;
    line-height: 18px;
  }

  .restourants-page-restaurant-type_kitchen,
  .restourants-page-restaurant-type-list_element {
    font-size: 14px;
    line-height: 16px;
  }

  .restourants-page-restaurant-additional_like {
    margin-top: 35px;
  }

  .order-home_food .owl-prev,
  .order-home_food .owl-next {
    padding-top: 35px;
  }

  .order-home-food_link span,
  .order-home-food_more span {
    font-size: 18px;
    line-height: 18px;
  }

  .main_gallery a {
    width: calc(25% - 4px);
  }

  .choose-city_char {
    padding: 0 6px;
  }

  .choose-city_link {
    font-size: 19px;
  }

  .no-padding-sm {
    padding: 0;
  }

  .header_location,
  .header_city {
    font-size: 12px;
    line-height: 15px;
  }

  .modal_choose-city {
    width: 768px;
  }

  .modal-dialog.modal-lg .modal-content {
    padding: 0 20px;
  }

  .header_location {
    display: none;
  }

  .history_icon {
    margin-top: 5px;
  }

  .download, .download_hand {
    height: 385px;
  }

  .download_title {
    font-size: 30px;
    margin-top: 50px;
  }

  .download_text {
    margin-bottom: 35px;
  }

  .download_img {
    top: 70px;
    right: 10px;
  }

  .download_link img {
    width: 175px;
    height: 50px;
  }

  .download_link__yellow img {
    height: 60px;
  }

  .download_info {
    margin-top: 35px;
  }

  .download_hand img {
    height: 425px;
    width: auto;
  }

  .main-order_link-image p {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 800px) {
  .mobile-pixel-grid-10.gutter-3 .pixel-tile {
      width: 48.5px;
      height: 48.5px;
      margin-right: 3px;
      margin-bottom: 3px;
  }

  .mobile-pixel-grid-10.gutter-3 .pixel-tile.width-2 {
      width: 100px;
      height: 48.5px;
      margin-right: 3px;
      margin-bottom: 3px;
  }

  .mobile-pixel-grid-10.gutter-3 .pixel-tile.width-3 {
      width: 151.5px;
      height: 48.5px;
      margin-right: 3px;
      margin-bottom: 3px;
  }

  .mobile-pixel-grid-10.gutter-3 .pixel-tile.width-4 {
      width: 203px;
      height: 48.5px;
      margin-right: 3px;
      margin-bottom: 3px;
  }

  .mobile-pixel-grid-10.gutter-3 .pixel-tile.height-2 {
      width: 48.5px;
      height: 100px;
      margin-right: 3px;
      margin-bottom: 3px;
  }

  .mobile-pixel-grid-10.gutter-3 .pixel-tile.height-3 {
      width: 48.5px;
      height: 151.5px;
      margin-right: 3px;
      margin-bottom: 3px;
  }

  .mobile-pixel-grid-10.gutter-3 .pixel-tile.height-4 {
      width: 48.5px;
      height: 203px;
      margin-right: 3px;
      margin-bottom: 3px;
  }

  .pixel-grid.gutter-3 .pixel-tile:nth-child(5n) {
      margin-right: 3px;
  }
  .pixel-grid.gutter-3 .pixel-tile:nth-child(5n+1) {
      margin-left: 0px;
  }
  .pixel-grid.gutter-3 .pixel-tile:nth-child(-n+6) {
      margin-top: 0px;
  }

  .mobile-pixel-grid-10.gutter-3 .pixel-tile:nth-child(10n) {
      margin-right: 0;
  }
  .mobile-pixel-grid-10.gutter-3 .pixel-tile:nth-child(10n+1) {
      margin-left: 3px;
  }
  .mobile-pixel-grid-10.gutter-3 .pixel-tile:nth-child(-n+11) {
      margin-top: 3px;
  }

  .restourants-page__bonusses-block {
    height: 170px;
  }
}

#product-modal .food-content-text_cost {
   .margin-top: 10px;
}

#product-modal .food-content_order-content {
   height: none;
   float: inherit;
}

.food-content_order-content.product_quantity .input-number {
    width: 168px;
}


@media only screen and (max-width: 767px) {

  .products_block .food-content-text_count {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      width: auto;
  }

  .product_quantity {
      width: auto;
  }

  .food-content_order-content.product_quantity .input-number {
      width: auto;
  }

  .food-desktop {
      display: none;
  }

  .food-mobile {
      display: block;
  }

  .order-train-way_arrows {
      display: none;
  }

  .order-train_way .order-content_btn {
     width: 100%;
     color: #784e0f;
     margin-top: 10px;
   }

 .order-train-way_input,  body .stations_search .order-train-way_input + .select2 .select2-selection {
    width: 100%;
    margin-bottom: 15px;
  }

 .order-train_way {
   padding-left: 30px;
   padding-right: 30px;
   -moz-border-radius: 0;
   -ms-border-radius: 0;
   -o-border-radius: 0;
   border-radius: 0;
   padding-bottom: 30px;
 }

  .keyvisual_text {
    width: 200px;
  }

  .keyvisual_title {
    width: 250px;
    text-shadow: 0 0 12px black;
    font-size: 40px;
    margin-bottom: 20px;
  }

  .keyvisual_link {
    margin: 100px auto 70px;
    width: 290px;
    display: block;
  }

  .keyvisual_img {
    top: -55px;
    bottom: 81px;
    width: auto;
    right: -160px;
    max-width: none;
    width: 355px;
    overflow: hidden;
  }

  .keyvisual-carousel .owl-nav {
    display: none;
  }

  .download {
    text-align: center;
    height: auto;
    background-image: url('/../image/download_mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 340px;
  }

  .download_hand img {
    width: 270px;
    height: 385px;
  }

  .download_hand {
    position: absolute;
    bottom: 570px;
    width: 270px;
    height: 375px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .download_link {
    margin: 0 auto 15px;
    width: 290px;
    height: 80px;
    display: block;
  }

  .download_link img {
    width: 100%;
    height: 80px;
  }

  .download_img {
    display: none;
  }

  .download_info {
    margin: 10px auto 60px;
    width: 290px;
  }

  .download_hand::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 0;
    box-shadow: 0px 5px 17px 2px black;
  }

  .download_title {
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .download_text {
    font-size: 14px;
    margin-bottom: 35px;
  }

  .history-block_agent-name,
  .history-block_costumer,
  .history-block_date,
  .history-block_status {
    text-align: center;
  }

  .history-block_costumer,
  .history-block_date,
  .history-block_status {
    margin-right: 0;
    display: block;
  }

  .history-block_status {
    width: 175px;
    margin: 0 auto 15px;
  }

  .history-block_table {
    min-width: 450px;
  }

  .main-subscribtion-form_subscribe {
    margin-left: 15px;
  }

  .history_icon {
    margin-top: 5px;
  }

  .input-number_button {
    width: 50px;
  }

  .basket-content_cell .input-number_button {
    width: 40px;
  }

  .restourants-page-contain_min-cost .input-number_button {
    width: 70px;
  }

  .basket_display-count {
    position: absolute;
    left: 120px;
    right: 0;
    margin: auto;
  }
  .header_location {
    display: inline-block;
  }

  .basket_page .restourants-page-contain_restaurants {
    overflow: hidden;
    padding: 40px 0 0;
  }

  .basket_page .restourants-page-contain_restaurants:before,
  .basket_page .restourants-page-contain_restaurants:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25px;
  }

  .basket_page .restourants-page-contain_restaurants:before {
    left: 0;
    background: linear-gradient(90deg, #e2e2e2, transparent);
  }

  .basket_page .restourants-page-contain_restaurants:after {
    right: 0;
    background: linear-gradient(270deg, #e2e2e2, transparent);
  }

  .basket_page form input,
  .modal-body input,
  .basket_page form textarea,
  .basket_page .field-order-delivery_at input {
    font-size: 18px;
  }

  .basket_page .help-block {
    position: relative;
  }

  .basket_page .form-group {
    padding-bottom: 0;
  }

  .basket_page form {
    padding: 40px 40px 0;
  }

  .basket-content_table {
    min-width: 600px;
  }

  .basket_table-block {
    overflow-x: scroll;
    padding: 0 40px;
  }

  .modal-body {
    overflow-x: scroll;
  }

  .modal-dialog.modal-lg .modal-content {
    padding: 0;
    overflow: hidden;
  }

  .modal-content:before {
    content: '';
    width: 30px;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg, #d0d0d0, transparent);
    z-index: 9;
  }

  .modal-content:after {
    content: '';
    width: 30px;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(270deg, #d0d0d0, transparent);
    z-index: 9;
  }

  .order-home_food .owl-prev:after,
  .order-home_food .owl-next:after {
    bottom: 35px;
  }

  .choose-city-tab_link {
    font-size: 17px;
  }

  .choose-city-tab_element {
    width: calc(33% - 20px);
    float: left;
  }

  .stations-train-table_row .stations-train-table_cell:nth-child(3):before,
  .stations-train-table_row .stations-train-table_cell:nth-child(5):before {
    width: 110px;
    height: 40px;
  }

  .stations-train-table-header_cell, .stations-train-table_cell {
    padding: 15px 10px 15px;
  }

  .stations-train_info {
    overflow: hidden;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
  }

  .stations-train_borders {
    overflow-y: scroll;
    padding-left: 40px;
    padding-right: 40px;
  }

  .stations-train_info:before,
  .stations-train_info:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #fff;
    width: 45px;
    z-index: 9;
  }

  .stations-train_info:before {
    left: 0;
    background: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0));
  }

  .stations-train_info:after {
    right: 0;
    background: linear-gradient(270deg, #fff, rgba(255, 255, 255, 0));
  }

  .stations-train_table {
    min-width: 590px;
  }

  .stations-search_image {
    display: none;
  }

  .stations_search .form-group {
    /*width: calc(50% - 10px);
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;*/
    float: none;
  }

  .stations_search .form-group.field-stationform-wherein {
    margin-right: 0;
  }

  .stations_search .stations-search_input {
    width: 100%;
    padding: 20px 20px;
  }

  .stations_search .form-group.field-stationform-date {
    /*width: calc(50% - 10px);
    margin-left: 0;*/
  }

  .stations_search .order-home-search_button {
    top: -2px;
    line-height: 19px;
    width: calc(50% - 10px);
    padding: 20px 70px;
  }

  .header {
    position: relative;
    height: 60px;
    overflow: hidden;
    transition: all .4s;
  }

  .header.header_open {
    overflow: visible;
    height: 280px;
  }
  .header_flex-container{
    flex-direction: column;
  }
  .header_logo {
    margin-top: 60px;
  }

  .header_logo,
  .header_tel,
  .header_location,
  /*.header_city,*/
  .header_status {
    opacity: 0;
  }

  .header_tel,
  .header_location,
  /*.header_city,*/
  .header_status {
    margin-top: 5px;
  }
  .header_status-margin{
    margin-top: 15px;
  }
  .header_open .header_logo,
  .header_open .header_tel,
  .header_open .header_location,
  .header_open .header_city,
  .header_open .header_status {
    opacity: 1;
    transition: .5s;
  }

  .header div[data-pjax-container=""] {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
  }

  .header_hamburger {
    display: block;
  }

  .owl-carousel.owl-theme .main-check-in_hand,
  .main-check-in_hand {
    display: none;
  }

  .owl-carousel.owl-theme .main-check-in-about_top-text,
  .main-check-in-about_top-text {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 10px;
  }

  .owl-carousel.owl-theme .main-check-in_link,
  .main-check-in_link {
    font-size: 18px;
    line-height: 20px;
  }

  .owl-carousel.owl-theme .main-check-in_about,
  .main-check-in_about {
    width: 550px;
  }

  .main-order_link {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .main-order_title {
    margin-bottom: 30px;
  }

  .main-form_left-image {
    display: none;
  }

  .main-order_title,
  .main-subscribtion-form_title,
  .main-gallery_title {
    font-size: 33px;
  }

  .main-subscribtion-form_input-checkbox-block {
    margin-bottom: 50px;
  }

  .main-subscribtion_download__google-play,
  .main-subscribtion_download__app-store {
    /*width: calc(50% - 10px);*/
	width: 225px;
  }

  .footer_politic  {
	font-size: 13px;
  }

  .main-subscribtion_download__google-play{
    width: 225px;
  }

  .main-subscribtion_download {
    margin-bottom: 30px;
  }

  .main-subscribtion_right-block {
    margin-bottom: 50px;
  }

  .main-subscribtion_right-info {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    max-width: 100%;
  }

  .main-about_text__last {
    margin-top: 20px;
  }

  .footer-list_element:last-child {
    margin-bottom: 35px;
  }

  .footer_title,
  .footer-list_element,
  .footer_text,
  .footer_soc-list {
    text-align: center;
  }

  .restourants-page_search .no-padding {
    padding-left: 15px;
    padding-right: 15px;
  }

  .restourants-page-search_input,
  .order-home-search_input,
  .stations-search_input {
    width: calc(100% - 240px);
    padding: 13px 20px;
  }

  .restourants-page-search_button,
  .order-home-search_button {
    padding: 15px 75px;
    line-height: 18px;
    font-size: 18px;
    top: 0;
  }

  .restourants-page-restaurants_restaurant-logo {
    margin: 0 auto 30px;
    max-width: 400px;
    height: none;
  }

  .restourants-page-restaurant-type_name {
    font-size: 16px;
    line-height: 18px;
  }

  .restourants-page-restaurant-additional_like,
  .restourants-page-restaurant-info_text,
  .restourants-page-restaurant-info_delivery {
    display: block;
    float: none;
  }

  .restourants-page-restaurant-additional_like {
    margin-top: 20px;
  }

  .restourants-page-restaurant-info_amount {
    margin-top: 20px;
  }

  .restourants-page-restaurant-info_amount, .restourants-page-restaurant-info_delivery, .restourants-page-restaurant-info-time {
    font-size: 16px;
    line-height: 16px;
  }

  .restourants-page-restaurant-info_amount, .restourants-page-restaurant-info_delivery, .restourants-page-restaurant-info-time {
    font-size: 16px;
    line-height: 16px;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 16px;
    display: block;
    float: none;
  }

  .restourants-page-restaurant-additional_pay:not(.restourants-page-restaurant-additional_pay__not-working) {
    margin-top: 20px;
  }

  .restourants-page-restaurant-info_delivery {
    height: auto;
  }

  .restourants-page-restaurant-additional_like,
  .restourants-page-restaurant-info_text,
  .restourants-page-restaurant-info_delivery {
    display: block;
    float: none;
  }

  .restourants-page-restaurant-info_text {
    line-height: 15px;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 8px;
  }

  .restourants-page-restaurant-additional_like {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .restourants-page-contain_sidebar.open_sidebar {
    width: 325px;
    padding-left: 20px;
    padding-top: 15px;
    top: 115px;
    overflow: hidden;
    transition: all .6s;
  }

  .aside_hamburger {
    top: 15px;
  }

  .baskets_icon {
    top: 40px;
  }

  .order-home-search_input {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    max-width: 355px;
  }

  .order-home-search_image, .stations-search_image {
    margin-top: 20px;
  }

  .order-home_food .owl-prev, .order-home_food .owl-next {
    padding-top: 35px;
    overflow: hidden;
    width: 40px;
    color: transparent;
  }

  .modal-window_content {
    max-height: 485px;
  }

  .modal-window_content {
    font-size: 20px;
    width: 600px;
    max-width: calc(100% - 0px);
    padding: 50px 25px;
    max-height: 285px;
  }

  .food-content_bye {
    padding: 5px 35px;
    line-height: 18px;
    font-size: 18px;
    top: 0;
    position: inherit;
    margin-top: 10px;
    display: block;
    max-width: 180px;
    margin: 20px auto 0;
  }

  div .pagination > li > a,
  div .pagination > li > span {
    padding: 6px 11px;
  }

  .food-content_order-content input,
  .modal-body input {
    display: block;
    width: 180px;
    line-height: 18px;
    font-size: 18px;
    margin: 15px auto;
    border-radius: 10px;
    padding: 5px 0;
  }

  .food-content_order-content {
    height: auto;
    text-align: center;
  }

  .food-content_image {
    margin-bottom: 15px;
  }

  .modal_choose-city {
    top: 60px;
  }

  .header_location, .header_city {
    font-size: 15px;
    margin-top: 22px;
  }

  .choose-city_char {
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .blog-content_button {
    margin: 15px auto 0 calc(50% + 20px);
  }

  .blog-content_button {
    max-width: 160px;
  }

  .restourants-page-restaurants_restaurant {
    padding: 25px 20px;
  }

  .auth_block .form-horizontal .btn.btn-primary {
    font-size: 15px;
    line-height: 15px;
    width: 180px;
  }

  .main-subscribtion-form_input {
    margin-right: 15px;
    margin-left: 15px;
  }

  .history-block_table-block {
    overflow: hidden;
  }

  .history-block_table-content {
    overflow-x: scroll;
    padding-bottom: 15px;
  }

  .keyvisual {
    overflow: visible;
  }

  .keyvisual_item {
    height: auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding-bottom: 0;
  }

  .keyvisual_img {
    top: -55px;
    bottom: 112px;
    width: auto;
    right: -160px;
    max-width: none;
    width: 355px;
    overflow: hidden;
  }

  .keyvisual-item_background {
    height: 400px;
  }

  .download_link__yellow {
    margin: 0 0 15px;
    width: 250px;
    height: auto;
  }

  .download_link__yellow img {
    height: 70px;
  }

  .keyvisual_link__second {
    margin-top: 144px;
  }

  .keyvisual_link__third {
    margin-top: 179px;
  }

  .keyvisual_link__fourth {
    margin-top: 144px;
  }

  .keyvisual_link__fiveth {
    margin-top: 109px;
  }

  .footer-soc-list_element {
    margin-right: 10px;
  }

  .choose-city_content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .choose-city-list_link {
    font-size: 14px;
  }

  .choose-city_close-button {
    display: block;
    z-index: 5;
  }

  .dropdown-city {
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .stations_search {
    padding-bottom: 20px;
  }

  .order-train_way {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .restourants-page-restaurant-type_name {
    display: none;
  }

  .mobile-restourant_title {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #333956;
    font-weight: 500;
  }

  .food-content-text_description {
      float: left;
  }

  .main-about_link {
    margin-bottom: 30px;
  }

  .order-train-way_title {
    text-align: center;
  }

  .main-order_link-image p {
    padding-top: 55px;
  }

  .modal-body .main-order_link {
    margin-bottom: 0;
  }

  .modal-body .main-order_link-image {
    width: 150px;
    height: 150px;
    margin-bottom: 0px;
  }

  .modal-body .main-order_link-image p {
    padding-top: 45px;
  }

  .modal-content .main-order_link {
    display: inline-block;
    width: auto;
    margin: 0 5px;
  }

  #train .modal-header h2 {
    font-size: 20px;
    margin-top: 0;
  }

  #train .modal-header h2:last-of-type {
    margin-bottom: 0;
  }

  #train br {
    display: none;
  }

  #train .modal-body .btn.btn-success {
    margin-bottom: 0;
  }

  .restourants-page-restaurant-info_amount {
    margin-top: 0;
  }

  .restourants-page-restaurant-info_amount,
  .restourants-page-restaurant-info_delivery,
  .restourants-page-restaurant-info-time {
    font-size: 12px;
    margin-bottom: 0;
  }

  .restourants-page-restaurant-info_text {
    margin-top: 0;
  }

    #train .modal-dialog .modal-content {
    padding: 10px 15px;
  }

  .stations_search .order-train_way .form-group {
    margin-right: 0;
  }

}

/* End 767px width
==============*/

@media only screen and (max-width: 650px) {
  .blog_image-block {
    float: none;
    margin-right: 0;
  }

  .blog_image {
    margin: 0 auto 20px;
  }

  .blog-content_button {
    margin: 15px auto 0;
  }

  .restourants-page-restaurants_restaurant {
    padding: 25px 0 25px;
  }
}

@media only screen and (max-width: 600px) {
  .restourants-page-search_input,
  .order-home-search_input,
  .stations-search_input {
    margin-bottom: 20px;
  }

  .restourants-page-search_input,
  .order-home-search_input,
  .stations-search_input,
  .restourants-page-search_button,
  .order-home-search_button {
    width: 100%;
  }

  .basket_content {
    overflow-x: scroll;
  }

  .basket_content:before {
    content: '';
    display: block;
    top: 145px;
    bottom: 145px;
    left: 20px;
    position: absolute;
    background: linear-gradient(90deg, #f7f7f7, rgba(247, 247, 247, 0));
    width: 40px;
  }

  .basket_content:after {
    content: '';
    display: block;
    top: 145px;
    bottom: 145px;
    right: 20px;
    position: absolute;
    background: linear-gradient(90deg, rgba(247, 247, 247, 0), #f7f7f7);
    width: 40px;
  }

  .choose-city_list {
    column-count: 3;
  }
}

@media only screen and (max-width: 550px) {
  .modal-dialog.modal-lg .modal-footer .btn.btn-danger,
  .modal-dialog.modal-lg .modal-footer .btn.btn-success,
  .modal-dialog.modal-lg .modal-footer .btn.btn-default {
    padding: 10px 10px;
  }

  .restourants-page-restaurant-info_amount,
  .restourants-page-restaurant-info_delivery,
  .restourants-page-restaurant-info-time {
    font-size: 16px;
    line-height: 16px;
    float: none;
    margin-bottom: 4px;
    margin-right: 0px;
  }

  .restourants-page-restaurant-info_text {
    line-height: 15px;
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 4px;
  }

  .restourants-page-restaurant-type_kitchen,
  .restourants-page-restaurant-type-list_element {
    display: block;
    margin-bottom: 10px;
  }

  .order-home-search_image {
    display: none;
  }

  .order-home-search_right-block {
    width: 100%;
    float: none;
  }

  .order-home-search_input {
    max-width: 100%;
  }

  /*.owl-carousel .owl-item img {
    width: 100%;
    max-width: 100px;
    margin: 0 auto 15px;
  }*/

  .main-gallery_title, .order-home-gallery_title {
    font-size: 28px;
    line-height: 35px;
  }

  .modal_choose-city {
    top: 0;
  }

  .restourants-page-contain-search_input__choose-city {
    margin-top: 70px;
    width: 100%;
  }

  .choose-city-tab_list {
  }

  .choose-city-tab_element {
    width: 32%;
    text-align: left;
  }

  .choose-city-tab_link {
    font-size: 15px;
  }

  .main-subscribtion-form_input-block {
    text-align: center;
  }

  .main-subscribtion-form_input {
    margin: 0 10px 20px;
  }

  .main-subscribtion-form_input-block .form-group.field-mailform-email {
    float: none;
  }

  .main-subscribtion-form_input-block .help-block.help-block-error  {
    left: 0;
    right: 0;
    margin: auto;
  }

  .main-subscribtion_download {
    text-align: center;
  }

  .main-subscribtion_download__google-play {
    margin: 0;
  }

  .main-subscribtion-form_subscribe {
    margin-left: 0;
  }

  body .user-page_link {
    margin-bottom: 0;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-right: -10px;
    width: 130px;
  }

  body .user-page_link:nth-child(1),
  body .user-page_link:nth-child(2) {
    margin-bottom: -10px;
  }

  body .user-page_link:nth-child(1),
  body .user-page_link:nth-child(3) {
    border-radius: 10px 0 0 0px;
  }

  body .user-page_link:nth-child(3),
  body .user-page_link:nth-child(4) {
    padding-bottom: 0;
  }

  body .user-page_link.open {
    z-index: 1;
  }

  body .user-page_list {
    max-width: 280px;
    margin: 0 auto;
  }

  .modal_choose-city.choose-city_open {
    transform: translateY(55px);
  }

  .restourants-page-restaurant-info_amount {
    margin-top: 0;
  }

  .restourants-page-restaurant-info_amount,
  .restourants-page-restaurant-info_delivery,
  .restourants-page-restaurant-info-time {
    font-size: 12px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 500px) {
  .main-order_title,
  .main-subscribtion-form_title,
  .main-gallery_title {
    font-size: 22px;
    line-height: 26px;
  }
  .header.header_open{
    height: 300px
  }
  .main-subscribtion-form_text {
    font-size: 18px;
    line-height: 21px;
  }
  .header_tel, .header_location, .header_status {
      margin-top: 2px;
  }
  .modal-dialog.modal-lg .modal-footer .btn.btn-danger,
  .modal-dialog.modal-lg .modal-footer .btn.btn-success,
  .modal-dialog.modal-lg .modal-footer .btn.btn-default {
    display: block;
    width: 300px;
    max-width: 100%;
    margin: 0 auto 20px;
    padding: 15px 0;
  }

  .stations-train-table-header_cell, .stations-train-table_cell {
    font-size: 15px;
  }

  .stations-train-table-header_cell:nth-child(2) {
    text-align: left;
  }

  .stations_search .form-group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .stations_search .form-group.field-stationform-date {
    width: 100%;
  }

  .stations_search .order-home-search_button {
    top: -2px;
    width: 100%;
  }

  .main_gallery a {
    width: calc(50% - 4px);
  }
}

@media only screen and (max-width: 450px) {
  .choose-city-tab_element {
    width: 50%;
  }

  .choose-city-tab_link {
    font-size: 16px;
  }

  .choose-city_list {
    column-count: 2;
  }
}

@media only screen and (max-width: 400px) {

  .choose-city_link {
    font-size: 17px;
    width: 15px;
    display: block;
    text-align: center;
  }

  .choose-city-tab_link {
    font-size: 14px;
  }
}

@media only screen and (max-width: 347px) {
  .restourants-page-restaurant-info_amount,
  .restourants-page-restaurant-info_delivery,
  .restourants-page-restaurant-info-time,
  .restourants-page-restaurant-info_text {
    margin-bottom: 0;
  }
}
