body {
  overflow-x: hidden;
}

* {
  font-family: 'Fira Sans', sans-serif;
}

*:focus,
*:active {
  outline: none;
}

a {
  color: #000;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #000;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

body .no-padding {
  padding: 0;
}

body .no-padding-left-main-subscription {
  padding-left: 0;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

body .no-margin-top {
  margin-top: 0;
}

body .no-margin-bottom {
  margin-bottom: 0;
}

/*  Modal window
====================================*/

.modal_window {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #4b516e;
  z-index: 2000;
  display: none;
}

/*.modal-window_background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../image/burger.png);
  opacity: .6;
  z-index: 1;
}*/

.modal-window_content {
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: #4b516e;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 26px;
  width: 1000px;
  max-width: calc(100% - 100px);
  padding: 50px;
  max-height: 285px;
}

.modal-window_text {
  color: #efefef;
  margin: 0;
  padding: 0;
}

.modal-window_close {
  position: absolute;
  color: #fff;
  top: 20px;
  right: 25px;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotate3d(0, 0, 1, 90deg);
  -moz-transform: rotate3d(0, 0, 1, 90deg);
  -ms-transform: rotate3d(0, 0, 1, 90deg);
  -o-transform: rotate3d(0, 0, 1, 90deg);
  transform: rotate3d(0, 0, 1, 90deg);
  -webkit-border: 3px solid #fff;
  -moz-border: 3px solid #fff;
  -ms-border: 3px solid #fff;
  -o-border: 3px solid #fff;
  border: 3px solid #fff;
  height: 30px;
  width: 30px;
  font-size: 18px;
  padding: 1px 0;
  text-align: center;
}

.modal-window_close:hover,
.modal-window_close:focus,
.modal-window_close:active {
  color: inherit;
  text-decoration: none;
}

/*  HEADER
=====================================*/

.header {
  background-color: #fff;
  height: 80px;
  padding: 10px 0;
}

.header_logo {
  background: url('../image/logo.png') no-repeat center;
  background-size: contain;
  height: 60px;
  width: 100%;
  max-width: 60px;
  display: block;
  margin: 0 auto;
  transition: all .3s;
}

.header_logo:hover {
  opacity: .6;
}

.header_slogan {
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: 500;
  color: #4e526d;
  padding-top: 15px;
  padding-left: 5px;
  margin-bottom: 0px;
}
.header_tel {
  color: #000;
  font-size: 18px;
  line-height: 18px;
  display: inline-block;
  font-weight: 500;
  transition: all .3s;
}

.history_icon {
  color: #000;
  font-size: 18px;
  line-height: 25px;
  margin-top: 5px;
  display: block;
  position: relative;
  transition: all .3s;
}

.baskets_icon {
  background-color: #7d84a9;
  color: #feba37;
  display: block;
  font-size: 30px;
  line-height: 25px;
  margin-top: 15px;
  position: fixed;
  right: 20px;
  top: 120px;
  z-index: 9;
  border-radius: 50%;
  padding: 10px;
  transition: all .3s;
}
.header_flex-container{
  display: flex;
  flex-direction: row;
}
.header_city:active,
.header_tel:active,
.baskets_icon:active,
.history_icon:active,
.header_city:focus,
.header_tel:focus,
.baskets_icon:focus,
.history_icon:focus,
.header_city:hover,
.header_tel:hover,
.baskets_icon:hover,
.history_icon:hover {
  opacity: .6;
  text-decoration: none;
  transition: all .3s;
}

.header_city:hover {
  color: #ff3640;
}

.header_tel:hover,
.baskets_icon:hover {
  color: #000;
}

.glyphicon {
  color: #000;
}

.header_tel,
.header_location,
.header_cities,
.header_location,
.header_city {
  margin-top: 10px;
}

.header_location,
.header_city {
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
}

.header_location {
  font-size: 15px;
  -webkit-text-transform: lowercase;
  -moz-text-transform: lowercase;
  -ms-text-transform: lowercase;
  -o-text-transform: lowercase;
  text-transform: lowercase;
  font-weight: 200;
}

.header_city {
  color: #000;
  font-weight: 500;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
}

.header_status {
  padding: 5px 10px;
  background-color: #f4f1f2;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin-top: 5px;
  display: inline-block;
}
.header_status-margin{
  margin-top: 15px;
}
.header_auth {
  display: inline-block;
  position: relative;
  padding: 0 10px 0 5px;
  font-size: 18px;
  line-height: 18px;
  color: #221819;
  -webkit-text-transform: lowercase;
  -moz-text-transform: lowercase;
  -ms-text-transform: lowercase;
  -o-text-transform: lowercase;
  text-transform: lowercase;
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  background-color: transparent;
  transition: all .3s;
}

.header_auth:hover {
  text-decoration: none;
  color: inherit;
  opacity: .6;
}

.header_auth:first-child:after {
  content: '';
  position: absolute;
  height: 100%;
  -webkit-border-right: 1px solid #000;
  -moz-border-right: 1px solid #000;
  -ms-border-right: 1px solid #000;
  -o-border-right: 1px solid #000;
  border-right: 1px solid #000;
  right: 0;
}

.aside_hamburger,
.header_hamburger {
  display: none;
  padding: 6px;
  width: 45px;
  height: 40px;
  -webkit-border: 3px solid #161c39;
  -moz-border: 3px solid #161c39;
  -ms-border: 3px solid #161c39;
  -o-border: 3px solid #161c39;
  border: 3px solid #161c39;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 30px;
  /*left: 0;*/
  margin: auto;
  background-color: rgba(157, 177, 204, 0.63);
}

.aside_hamburger {
  right: auto;
  left: 20px;
  top: 15px;
}

.aside-hamburger_layer,
.header-hamburger_layer {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  -webkit-border-bottom: 4px solid #161c39;
  -moz-border-bottom: 4px solid #161c39;
  -ms-border-bottom: 4px solid #161c39;
  -o-border-bottom: 4px solid #161c39;
  border-bottom: 4px solid #161c39;
  position: relative;
  transition: all .6s;
}

.header_hamburger__animation .header-hamburger_layer:first-child {
  width: 70%;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
  left: 0px;
  top: 10px;
  transition: all .6s;
}

.header_hamburger__animation .header-hamburger_layer:nth-child(2) {
  width: 70%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 4px;
  transition: all .6s;
}

.header_hamburger__animation .header-hamburger_layer:last-child {
  width: 70%;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  bottom: 8px;
  left: 8px;
  transition: all .6s;
}

/*  Main check in
=============================*/
.owl-carousel.owl-theme .main-check-in,
.main-check-in {
 /* background-image: url('../image/main-check-in-background.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1em auto;
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.owl-carousel.owl-theme .main-check-in_about,
.main-check-in_about {
  /*background-color: rgb(255, 184, 60);*/
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding: 25px 35px;
  margin-top: 20px;
}

.owl-carousel.owl-theme .main-check-in-about_top-text,
.main-check-in-about_top-text {
     color: #ffb83c;
    font-size: 28px;
    line-height: 27px;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
  display: block;
 /* font-weight: 400;*/
  margin-bottom: 15px;
}

.owl-carousel.owl-theme .main-check-in-about_bottom-text,
.main-check-in-about_bottom-text {
  color: #f2f0f1;
  font-size: 22px;
  line-height: 45px;
  margin-right: 85px;
}

.owl-carousel.owl-theme .main-check-in-about_bottom-text.without_check-in {
  font-size: 40px;
  text-transform: uppercase;
}

.owl-carousel.owl-theme .main-check-in_link,
.main-check-in_link {
  display: inline-block;
  font-size: 25px;
  line-height: 20px;
  color: #fff;
  background-color: #ff3f3f;
  padding: 15px 15px 12px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
  -webkit-box-shadow: 1px 1px 7px -2px black;
  -moz-box-shadow: 1px 1px 7px -2px black;
  -ms-box-shadow: 1px 1px 7px -2px black;
  -o-box-shadow: 1px 1px 7px -2px black;
  box-shadow: 1px 1px 7px -2px black;
}

.owl-carousel.owl-theme .main-check-in_hand,
.main-check-in_hand {
  position: absolute;
  left: calc(100% - 50px);
  width: 130px;
  top: 51px;
  z-index: 1;
}

.owl-carousel.owl-theme .main-check-in_map,
.main-check-in_map {
  width: 100%;
  max-width: 410px;
  margin: auto;
}

/*  Main order
=============================*/

.main-order {
  padding: 40px 0;
}

.main-order_title {
  color: #221819;
  font-size: 35px;
  line-height: 35px;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;
}

.main-order_link {
  color: #000;
  display: block;
  width: 100%;
  /*max-width: 150px;*/
  margin: 0 auto;
  text-align: center;
  font-size: 33px;
  line-height: 33px;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
  transition: all .3s;
}

.main-order_link:hover {
  cursor: pointer;
}

.main-order_link-image {
  display: block;
  margin: 0 auto 15px;
  height: 210px;
  max-width: 100%;
  text-align: center;
  width: 210px;
  border-radius: 50%;
  padding: 30px;
  position: relative;
}

.main-order_link-image:before {
  content: '';
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  position: absolute;
  border: 15px solid rgba(78, 81, 109, .5);
  transition: border .4s ease-in-out;
}

.main-order_link-image p {
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  background-color: rgba(78, 81, 109, .8);
  line-height: 35px;
  padding-top: 70px;
  color: #fff;
  transform: scale(0);
  transition-delay: .2s;
  transition: transform .4s ease-in-out;
}

.train .main-order_link-image:before {
  border: 15px solid rgba(78, 81, 109, .8);
}

/*.main-order_link.train .main-order_link-image:before,*/
.main-order_link:hover .main-order_link-image:before {
  cursor: pointer;
  border: 0 solid rgba(78, 81, 109, .5);
}

/*.main-order_link.train p,*/
.main-order_link:hover .main-order_link-image p {
  transform: scale(1);
  color: #fff;
  transition-delay: .1s;
}

.main-order_link-image img {
  max-width: 100%;
  max-height: 100%;
}

.main-order_link:hover,
.main-order_link:focus,
.main-order_link:visited,
.main-order_link:active,
.main-order_link.train {
  font-weight: 600;
  text-decoration: none;
  color: #000;
  transition: all .3s;
}

.main-order_link:hover p {
  color: #000;
  transition: all .3s;
}

/*  Main subscrption
=============================*/

.main-subscribtion.about_page {
  background-repeat: repeat;
  background-size: contain;
}

.main-subscribtion.about_page .main-subscribtion-form_title {
  max-width: 490px;
}

.main-subscribtion ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}

.main-subscribtion ul li {
  position: relative;
}

.main-subscribtion ul li:before {
  content:  "—";
  position: absolute;
  left:     -20px;
}

.main-subscribtion {
  background-image: url('../image/main-subscribtion-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 15px;
  padding-top: 15px;
  position: relative;
  -webkit-box-shadow: inset 0px 5px 20px -14px #000;
  -moz-box-shadow: inset 0px 5px 20px -14px #000;
  -ms-box-shadow: inset 0px 5px 20px -14px #000;
  -o-box-shadow: inset 0px 5px 20px -14px #000;
  box-shadow: inset 0px 5px 20px -14px #000;
  min-height: 505px;
  overflow: hidden;
}

.main-subscribtion-form_title {
  color: #221819;
  font-size: 35px;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 40px;
  margin-top: 25px;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
}

.main-subscribtion-form_title.no-margin-bottom {
  font-size: 44px;
  line-height: 45px;
}

.main-subscribtion-form_text {
  color: #000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 300;
  max-width: 490px;
  margin-bottom: 30px;
}

.main-subscribtion-form_input,
.main-subscribtion-form_subscribe {
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
   border-radius: 10px;
   font-size: 21px;
   line-height: 21px;
   margin-bottom: 20px;
   transition: all .3s;
}

.main-subscribtion-form_input {
  background-color: rgba(255, 255, 255, .7);
  padding: 10px 12px;
  margin-right: 10px;
  width: 235px;
}

.main-subscribtion-form_subscribe {
  background-color: rgba(255, 187, 56, .74);
  padding: 13px 12px;
  color: #4c5271;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
  width: 240px;
  text-align: left;
}

.main-subscribtion-form_input-checkbox {
  visibility: hidden;
  display: inline-block;
  position: relative;
  bottom: 3px;
}

.main-subscribtion-form_input-checkbox-block:before {
  -webkit-border: 2px solid #e7a024;
  -moz-border: 2px solid #e7a024;
  -ms-border: 2px solid #e7a024;
  -o-border: 2px solid #e7a024;
  border: 2px solid #e7a024;
  background-color: #fff;
  content: '';
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  cursor: pointer;
  top: 0;
}

.main-subscribtion-form_input-checkbox-block:after {
  -webkit-border: 2px solid #e7a024;
  -moz-border: 2px solid #e7a024;
  -ms-border: 2px solid #e7a024;
  -o-border: 2px solid #e7a024;
  border: 2px solid #e7a024;
  background-color: #e7a024;
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  cursor: pointer;
  top: 4px;
  left: 4px;
}

.main-subscribtion-form_input-checkbox-block:not(.active_checkbox):after {
  opacity: 0;
  transition: all .4s;
}

.main-subscribtion-form_input-checkbox-block:hover:after {
  opacity: .6;
  transition: all .4s;
}

.main-subscribtion-form_input-checkbox-block.active_checkbox:after {
  opacity: 1;
  transition: all .4s;
}

.main-subscribtion-form_input-text {
  margin-left: 10px;
  color: #000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 300;
  padding-top: 4px;
}

.main-subscribtion-form_input-text:hover {
  cursor: pointer;
}

.main-subscribtion-form_input-checkbox-block {
  margin-bottom: 165px;
  position: relative;
}

.main-subscribtion_download {
  padding-bottom: 10px;
}

.main-subscribtion_download__google-play,
.main-subscribtion_download__app-store {
   width: 200px;
   height: 65px;
   display: inline-block;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   transition: all .3s;
}
.main-subscribtion_download__google-play:hover,
.main-subscribtion_download__app-store:hover {
  opacity: .6;
}

.main-subscribtion_download__google-play {
  background-image: url('../image/google-play-badge.png');
  margin-right: 15px;
}

.main-subscribtion_download__app-store {
  background-image: url('../image/download_app_store-original.png');
}

.main-form_left-image {
  position: absolute;
  bottom: 0;
  z-index: 0;
  max-height: calc(100% - 40px);
}

.main-subscribtion_right-block {
  background-color: rgba(71, 76, 108, .7);
  padding: 30px 35px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  position: relative;
  z-index: 1;
}

.main-subscribtion-right-info_number {
  position: relative;
  display: block;
  color: #ffb938;
  font-size: 35px;
  line-height: 32px;
  text-align: center;
  padding: 35px 55px 30px;
  width: 145px;
  margin: 0 auto 20px;
}

.main-subscribtion_form {
  position: relative;
  z-index: 1;
}

.main-subscribtion_right-info:last-child .main-subscribtion-right-info_text {
  margin-bottom: 0;
}
@-webkit-keyframes animation_arrows {
  0% {
    opacity: .5;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    -moz-transform: rotate3d(0, 0, 1, 0deg);
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    -o-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    -moz-transform: rotate3d(0, 0, 1, 360deg);
    -ms-transform: rotate3d(0, 0, 1, 360deg);
    -o-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@-o-keyframes animation_arrows {
  0% {
    opacity: .5;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    -moz-transform: rotate3d(0, 0, 1, 0deg);
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    -o-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    -moz-transform: rotate3d(0, 0, 1, 360deg);
    -ms-transform: rotate3d(0, 0, 1, 360deg);
    -o-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes animation_arrows {
  0% {
    opacity: .5;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    -moz-transform: rotate3d(0, 0, 1, 0deg);
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    -o-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    -moz-transform: rotate3d(0, 0, 1, 360deg);
    -ms-transform: rotate3d(0, 0, 1, 360deg);
    -o-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.main-subscribtion-right-info_number:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('../image/arrow-around.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 0;
  left: 0;
  right: 0;
}

.animation .main-subscribtion-right-info_number:after {
  -webkit-animation: animation_arrows 2s infinite;
  -moz-animation: animation_arrows 2s infinite;
  -ms-animation: animation_arrows 2s infinite;
  -o-animation: animation_arrows 2s infinite;
  animation: animation_arrows 2s infinite;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.main-subscribtion-right-info_text {
  display: block;
  color: #f3f0f1;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 50px;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
}

.main-subscribtion-right_info__numbers {
  position: relative;
  z-index: 2;
}

/*  Main gallery
============================*/

/*.main_gallery,*/
.order-home_gallery {
  background-image: url('../image/main-gallery-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 0 10px;
}

.main-gallery_title,
.order-home-gallery_title {
  color: #221819;
  font-size: 35px;
  line-height: 35px;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
}


/*  Main about
=============================*/

.main-about {
  background-color: #f2f0f1;
  padding: 40px 0;
}

.main-about_image {
  display: block;
  margin: 0 auto;
  height: 50px;
  transition: all .3s;
}

.main-about_title {
  color: #000;
  font-size: 17px;
  line-height: 17px;
  font-weight: 500;
  margin: 10px 0 15px;
  text-align: center;
  transition: all .3s;
}

.main-about_text {
  color: #4c5272;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  font-weight: 300;
}

.main-about_text__last {
  margin-top: 53px;
}

/* Restourants
============================*/

.restourants-page_search,
.order-home_search,
.stations_search {
  background-color: #304670;
  padding: 20px 0 25px;
}

.restourants-page-search_title,
.order-home-search_title,
.stations-search_title {
  margin: 0 0 20px;
  padding-left: 20px;
  color: #fefefe;
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
}

.restourants-page-search_input,
.order-home-search_input,
.stations-search_input {
  width: calc(100% - 240px);
  padding: 20px;
  margin-right: 20px;
  font-size: 19px;
  line-height: 19px;
  font-weight: 100;
  color: #9ea2b5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
}

.restourants-page-search_button,
.order-home-search_button {
  padding: 20px 65px;
  background-color: #ffbb38;
  color: #ff3f3f;
  font-size: 24px;
  line-height: 24px;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  position: relative;
  top: 2px;
}

/*  Restourants Content
=============================*/

.restourants-page_block {
  background-image: url('../image/home-order-background.jpg');
  padding-bottom: 20px;
  height: auto;
  position: relative;
}

.restourants-page-contain_sidebar {
  background-color: rgba(235, 235, 238, 0.7);
  padding: 15px 15px 180px;
}

.aside-hamburger_layer {
  width: 5px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.aside-hamburger_layer:nth-child(3n) {
  margin-right: 0;
}

.restourants-page-contain_search,
.restourants-page-contain_foods-checks,
.restourants-page-contain_min-cost,
.restourants-page-contain_criterions-checks {
  -webkit-border-bottom: 1px solid #535874;
  -moz-border-bottom: 1px solid #535874;
  -ms-border-bottom: 1px solid #535874;
  -o-border-bottom: 1px solid #535874;
  border-bottom: 1px solid #535874;
  padding: 50px 0 20px;
}

.restourants-page-contain_search {
  padding-top: 10px;
}

.restourants-page-contain_foods-checks {
  padding-top: 20px;
}

.restourants-page-contain-foods-checks_container {
  max-height: 320px;
  overflow: hidden;
  transition: all .5s;
}

.restourants-page-contain-foods-checks_container.open {
  max-height: 900px;
  transition: all .5s;
}

.restourants-page-contain-search_input {
  width: 100%;
  padding: 15px 20px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 100;
  color: #9ea2b5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
}

.restourants-page-contain-search_title,
.restourants-page-contain-min_title,
.restourants-page-contain-criterions_title {
  margin: 0 0 20px 20px;
  font-size: 24px;
  line-height: 24px;
  color: #000;
  font-weight: 200;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
}

.restourants-page-contain-search_title {
  display: inline-block;
  margin-top: 20px;
  margin-right: 45px;
  margin-bottom: 0;
}

.restourants-page-contain-search_clear,
.restourants-page-contain_foods-more {
  color: #000;
  font-size: 15px;
  -webkit-border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  -moz-border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  -ms-border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  -o-border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  font-weight: 300;
}

.restourants-page-contain-search_clear:hover,
.restourants-page-contain_foods-more:hover {
  text-decoration: none;
  color: inherit;
  opacity: .6;
}

.restourants-page-contain-search_clear:active,
.restourants-page-contain_foods-more:active,
.restourants-page-contain-search_clear:focus,
.restourants-page-contain_foods-more:focus {
  text-decoration: none;
  color: inherit;
}

.restourants-page-contain_checkbox-emulator {
  position: relative;
  padding-bottom: 15px;
}

.restourants-page-contain_checkbox-emulator input {
  opacity: 0;
}

.restourants-page-contain_checkbox-emulator label {
  color: #000;
  font-size: 15px;
  line-height: 15px;
  font-weight: 300;
  margin-left: 5px;
}

.restourants-page-contain_checkbox-emulator:hover,
.restourants-page-contain-checkbox_name:hover {
  cursor: pointer;
}

.restourants-page-contain_checkbox-emulator:before {
  content: '';
  display: block;
  padding: 6px;
  position: absolute;
  -webkit-border: 1px solid #4c516e;
  -moz-border: 1px solid #4c516e;
  -ms-border: 1px solid #4c516e;
  -o-border: 1px solid #4c516e;
  border: 1px solid #4c516e;
  top: 5px;
  z-index: 0;
}

.restourants-page-contain_checkbox-emulator:after {
  content: '';
  position: absolute;
  display: block;
  background-color: transparent;
  padding: 4px;
  left: 3px;
  top: 8px;
  transition: all .3s;
}

.restourants-page-contain_checkbox-emulator.active_checkbox:after {
  /* background-color: #4c516e; */
  border: 2px solid #4c516e;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(-45deg);
  top: 2px;
  padding: 3px 5px;
  left: 2px;
}

.restourants-page-contain_checkbox {
  position: relative;
  z-index: 2;

}

.restourants-page-contain-checkbox_name {
  color: #000;
  font-size: 15px;
  line-height: 15px;
  font-weight: 300;
  margin-left: 5px;
}

.restourants-page-contain_foods-more {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
}

.restourants-page-contain-min_input {
  width: 205px;
  padding: 5px 20px;
  font-size: 38px;
  line-height: 38px;
  font-weight: 100;
  color: #9ea2b5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  position: relative;
  z-index: 2;
  text-align: center;
}

.restourants-page-contain_min-cost .irs-slider {
  width: 30px;
  height: 30px;
  top: 17px;
  background-position: 0px -115px;
  background-repeat: no-repeat;
}

.restourants-page-contain_min-cost .irs-line:before {
  content: '';
  position: absolute;
  background-color: #9ea2b5;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
}

.restourants-page-contain_min-cost .irs-line {
  height: 25px;
  top: 20px;
}

.restourants-page-contain_min-cost .irs-line-left,
.restourants-page-contain_min-cost .irs-line-mid,
.restourants-page-contain_min-cost .irs-line-right {
  top: 5px;
}

.restourants-page-contain_min-cost .irs-bar-edge {
  left: 5px;
}

.restourants-page-contain_min-cost .irs-slider.state_hover,
.restourants-page-contain_min-cost .irs-slider:hover {
  background-position: 0 -145px;
  cursor: pointer;
}

.restourants-page-contain_info {
  padding-top: 80px;
}

.restourants-page-contain-info_text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #000;
  padding: 0;
  margin: 0;
}

/*  Restourants list
=============================*/

.restourants-page-contain_restaurants {
  background-color: #f7f7f7;
  padding: 65px 20px 125px;
}

.restourants-page-restaurants_title {
  margin: 40px 0 50px;
  color: #000;
  font-size: 27px;
  line-height: 28px;
  font-weight: 300;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
  text-align: center;
}

.restourants-page-restaurants_restaurant {
  -webkit-border-top: 1px solid #535975;
  -moz-border-top: 1px solid #535975;
  -ms-border-top: 1px solid #535975;
  -o-border-top: 1px solid #535975;
  border-top: 1px solid #535975;
  -webkit-border-bottom: 1px solid #535975;
  -moz-border-bottom: 1px solid #535975;
  -ms-border-bottom: 1px solid #535975;
  -o-border-bottom: 1px solid #535975;
  border-bottom: 1px solid #535975;
  margin-bottom: 15px;
  padding: 25px 0 25px 20px;
  display: block;
  color: #000;
  position: relative;
  transition: all .2s;
}

.preorder_page .restourants-page-restaurants_restaurant:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  background: linear-gradient(90deg, #f7f7f7, rgba(83, 89, 117, 0.2), #f7f7f7);
  transition: all .3s;
}

.preorder_page .restourants-page-restaurants_restaurant:hover:before {
  width: 100%;
  opacity: 1;
}

.restourants-page-restaurants_restaurant:after {
  content: '';
  display: table;
  clear: both;
}

#product-modal .restourants-page-restaurants_restaurant-logo {
    margin-right: 0px;
}

.restourants-page-restaurants_restaurant-logo {
  display: block;
  background-color: #fff;
  -webkit-border: 1px solid #4b516e;
  -moz-border: 1px solid #4b516e;
  -ms-border: 1px solid #4b516e;
  -o-border: 1px solid #4b516e;
  border: 1px solid #4b516e;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-right: 50px;
  height: 135px;
  overflow: hidden;
  max-width: 100%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  transition: all .3s;
}

.restourants-page-restaurants_restaurant-logo:after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-border: 10px solid #fff;
  -moz-border: 10px solid #fff;
  -ms-border: 10px solid #fff;
  -o-border: 10px solid #fff;
  border: 10px solid #fff;
}

.restourants-page-restaurants_logo {
  max-width: 100%;
  max-height: 100%;
}

.restourants-page-restaurant-type_name {
  font-size: 22px;
  line-height: 22px;
  font-weight: 300;
  color: #000;
  margin: 0 0 15px;
}

.restourants-page-restaurant-type_list {
  margin: 0;
  padding: 0;
}

.restourants-page-restaurant-type_kitchen,
.restourants-page-restaurant-type-list_element {
  font-size: 15px;
  line-height: 15px;
  font-weight: 300;
  display: inline-block;
}

.restourants-page-restaurant-type-list_element {
  -webkit-border-bottom: 1px solid #000;
  -moz-border-bottom: 1px solid #000;
  -ms-border-bottom: 1px solid #000;
  -o-border-bottom: 1px solid #000;
  border-bottom: 1px solid #000;
}

.restourants-page-restaurant-info_amount,
.restourants-page-restaurant-info_delivery,
.restourants-page-restaurant-info-time,
.restourants-page-restaurant-info_text {
  display: block;
  padding-bottom: 5px;
  font-weight: 300;
}

.restourants-page-restaurant-info_amount {
  margin-top: 5px;
}

.restourants-page-restaurant-info_text:last-child {
  padding-bottom: 0;
}

.restourants-page-restaurant-info_amount,
.restourants-page-restaurant-info_delivery,
.restourants-page-restaurant-info-time {
  font-size: 17px;
  line-height: 17px;
  font-weight: 900;
}

.restourants-page-restaurant-info_amount,
.restourants-page-restaurant-info-time {
  color: #ff373f;
}

.restourants-page-restaurant-info_delivery {
  color: #067c00;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
}

.restourants-page-restaurant-additional_like {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
}

.restourants-page-restaurant-additional_like i {
  color: #ff0707;
}

.restourants-page-restaurant-additional_like span {
  font-size: 14px;
  line-height: 15px;
  font-weight: 300;
  color: #067c00;
  -webkit-border-bottom: 1px solid #067c00;
  -moz-border-bottom: 1px solid #067c00;
  -ms-border-bottom: 1px solid #067c00;
  -o-border-bottom: 1px solid #067c00;
  border-bottom: 1px solid #067c00;
}

.restourants-page-restaurant-additional_pay {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-border: 1px solid #4b516e;
  -moz-border: 1px solid #4b516e;
  -ms-border: 1px solid #4b516e;
  -o-border: 1px solid #4b516e;
  border: 1px solid #4b516e;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 13px;
  font-weight: 300;
  background-color: #f7f7f7;
}

.restourants-page-restaurant-additional_pay img {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-border: 1px solid #d7d7d7;
  -moz-border: 1px solid #d7d7d7;
  -ms-border: 1px solid #d7d7d7;
  -o-border: 1px solid #d7d7d7;
  border: 1px solid #d7d7d7;
  margin: 0 3px 5px;
}

/*  Order to Home
=============================*/

.order-home-search_image,
.stations-search_image {
  width: 110px;
  margin-right: 60px;
  float: left;
}

.order-home-search_image img,
.stations-search_image img {
  width: 100%;
}

.order-home-search_right-block {
  width: calc(100% - 175px);
  float: right;
}

.order-home-search_input {
  width: calc(100% - 230px);
}

/*
 * Order to home - carousel
 */


.order-home_food {
  padding: 40px 0;
  background-color: #fff;
}

.owl-carousel.owl-loaded {
  display: none;
}

.order-home_food .owl-carousel .owl-dots.disabled,
.order-home_food .owl-carousel .owl-nav.disabled {
  display: block;
}

.order-home_food .owl-prev {
  position: absolute;
  top: 0;
  left: -2px;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 175px;
  color: #4b516e;
  font-size: 25px;
  line-height: 25px;
  text-align: left;
  text-transform: uppercase;
  background: linear-gradient(90deg, #fff, rgba(255, 255, 255, .8), transparent);
  font-weight: 300;
  padding: 45px 45px;
  padding-right: 0;
}

.order-home_food .owl-prev:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 50px;
  margin: auto;
  height: 50px;
  width: 100%;
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  -moz-transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotate3d(0, 1, 0, 180deg);
  -o-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
  background-image: url('../image/arrow-right.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

.order-home_food .owl-next {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 175px;
  color: #4b516e;
  font-size: 25px;
  line-height: 25px;
  text-align: right;
  text-transform: uppercase;
  background: linear-gradient(270deg, #fff, rgba(255, 255, 255, .8), transparent);
  font-weight: 300;
  padding: 45px 45px;
  padding-left: 0;
}

.order-home_food .owl-next:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 50px;
  margin: auto;
  height: 50px;
  width: 100%;
  background-image: url('../image/arrow-right.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

.order-home-food_link,
.order-home-food_more {
  display: block;
  text-align: center;
}

.order-home-food_more {
  margin-top: 40px;
}

.order-home-food_link img {
  text-align: center;
  position: relative;
  right: 0;
  width: 100px;
  max-width: 100px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  transition: all .3s;
}

.order-home-food_link span,
.order-home-food_more span {
  font-size: 19px;
  line-height: 23px;
  font-weight: 300;
  color: #4b516e;
  text-transform: uppercase;
}

.order-home-food_link span {
  text-align: center;
  display: block;
}

.order-home-food_more span {
  position: relative;
  top: 5px;
  margin-right: 15px;
}

/* Stations Page
=============================*/

.stations-search_input {
  width: calc(100% - 5px);
  margin-right: 10px;
}

.stations-search_input:last-child {
  margin-right: 0;
}

.stations_train {
  background-image: url('../image/home-order-background.jpg');
  min-height: calc(100vh - 736px);
}

.stations-train_info {
  background-color: rgba(253, 253, 253, 0.6);
  padding: 40px;
}

.stations-train_table {
  margin: 0 auto 20px;
  width: 100%;
  background-image: url('../image/stations-train.jpg');
}

.stations-train-table-header_row,
.stations-train-table_row {
  background-color: rgba(253, 253, 253, 0.6);
  transition: all .3s;
}

.stations-train-table_row:not(.inactive):hover {
  background-color: rgba(75, 81, 110, 0.11);
  cursor: pointer;
  transition: all .7s;
}

.stations-train-table_cell:before,
.stations-train-table_cell:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  -webkit-border-bottom: 1px solid #535975;
  -moz-border-bottom: 1px solid #535975;
  -ms-border-bottom: 1px solid #535975;
  -o-border-bottom: 1px solid #535975;
  border-bottom: 1px solid #535975;
  left: 0;
  transition: all .3s;
}

.stations-train-table_cell:before {
  bottom: 100%;
}

.stations-train-table_cell:after {
  top: 100%;
}

.stations-train-table_row:first-child .stations-train-table_cell:before {
  -webkit-border-width: 2px;
  -moz-border-width: 2px;
  -ms-border-width: 2px;
  -o-border-width: 2px;
  border-width: 2px;
}

.stations-train-table_cell {
  position: relative;
}

.stations-train-table_row:not(.inactive):hover .stations-train-table_cell:first-child:before,
.stations-train-table_row:not(.inactive):hover .stations-train-table_cell:first-child:after {
  width: 100%;
  transition: all .3s;
}

.stations-train-table_row:not(.inactive):hover .stations-train-table_cell:nth-child(3):before,
.stations-train-table_row:not(.inactive):hover .stations-train-table_cell:nth-child(5):before {
  -webkit-border-width: 1px;
  -moz-border-width: 1px;
  -ms-border-width: 1px;
  -o-border-width: 1px;
  border-width: 1px;
  transition: all .3s;
}

.stations-train-table_cell {
  position: relative;
}

.stations-train-table_row:not(.inactive):hover .stations-train-table_cell:first-child {
  background: linear-gradient(60deg, rgba(253, 253, 253, 0.6), rgba(253, 253, 253, 0));
  color: #ff4242;
  font-weight: 600;
  transition: all .3s;
}

.stations-train-table_row:not(.inactive):hover .stations-train-table_cell:nth-child(2) {
  color: #ff4242;
  font-weight: 600;
  transition: all .4s;
}

.stations-train-table_row:not(:first-child):hover .table_arrival,
.stations-train-table_row:not(:first-child):hover .table_departure {
  -webkit-border: 1px solid #ff4242;
  -moz-border: 1px solid #ff4242;
  -ms-border: 1px solid #ff4242;
  -o-border: 1px solid #ff4242;
  border: 1px solid #ff4242;
  padding: 5px;
}

.stations-train-table_row:not(.inactive):hover .stations-train-table_cell .table_circle {
  background-color: #ff4242;
  transition: all .3s;
}

.stations-train-table_row:not(:first-child).selected_row {
  background-color: rgba(75, 81, 110, 0.11);
}

.stations-train-table-header_cell,
.stations-train-table_cell {
  font-size: 14px;
  line-height: 18px;
  padding: 15px 20px 15px;
  -webkit-border-bottom: 1px solid #535975;
  -moz-border-bottom: 1px solid #535975;
  -ms-border-bottom: 1px solid #535975;
  -o-border-bottom: 1px solid #535975;
  border-bottom: 1px solid #535975;
}

.stations-train-table-header_cell:first-child,
.stations-train-table_cell:first-child {
  padding: 15px 20px 15px 5px;
  background-color: rgba(253, 253, 253, 0);
  -webkit-border-color: rgba(253, 253, 253, 0);
  -moz-border-color: rgba(253, 253, 253, 0);
  -ms-border-color: rgba(253, 253, 253, 0);
  -o-border-color: rgba(253, 253, 253, 0);
  border-color: rgba(253, 253, 253, 0);
  text-align: center;
}

.stations-train-table_cell:nth-child(6) {
  padding: 15px 0 15px 0;
}

.stations-train-table-header_cell:nth-child(2),
.stations-train-table_cell:nth-child(2) {
  padding: 15px 20px 15px 5px;
  text-align: center;
}

.stations-train-table-header_cell:nth-child(n + 3),
.stations-train-table_cell:nth-child(n + 3) {
  text-align: center;
}

.stations-train-table-header_cell:last-child,
.stations-train-table_cell:last-child {
  text-align: center;
}

.stations-train-table-header_cell {
  color: #000;
  font-weight: 300;
  -webkit-border-width: 3px;
  -moz-border-width: 3px;
  -ms-border-width: 3px;
  -o-border-width: 3px;
  border-width: 3px;
}

.stations-train-table_cell {
  font-weight: 400;
}

.stations-train-table-header_cell:first-child,
.stations-train-table_cell:first-child {
  padding: 10px 0 10px 0;
}

.stations-train-table_cell:first-child {
  /*background-image: url(../image/jd.png);*/
  background-repeat: repeat-y;
  background-position: 10px;
}

.stations-train-table-header_cell:last-child,
.stations-train-table_cell:last-child {
  padding-right: 0;
}

.stations-train-table_cell:nth-child(2) {
  color: #102f78;
}

.stations-train-table_row.selected_row:not(:first-child) .table_city {
  color: #ff4242;
}

.stations-train-table_row.inactive:not(:first-child).selected_row .table_city {
  background-color: #828282;
}

.stations-train-table_row.inactive .stations-train-table_cell:nth-child(2) {
  color: #828282;
}

.stations-train-table_row:not(:first-child).selected_row .table_arrival,
.stations-train-table_row:not(:first-child).selected_row .table_departure {
  -webkit-border: 1px solid #ff4242;
  -moz-border: 1px solid #ff4242;
  -ms-border: 1px solid #ff4242;
  -o-border: 1px solid #ff4242;
  border: 1px solid #ff4242;
  padding: 5px;
}

.stations-train-table_row:not(:first-child).selected_row .table_parking {
  color: #fff;
  font-size: 22px;
  background-color: #ff4242;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 7px 6px;
}

.table_circle {
  display: block;
  background-color: #244389;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  font-size: 12px;
  line-height: 20px;
  color: #fefefc;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.inactive .table_circle {
  background-color: #828282;
}

.stations-train-table_row:not(.selected_row) .table_circle,
.stations-train-table_row:first-child .table_circle {
  margin-left: 5px;
}

.stations-train-table_row:not(.selected_row) .table_circle i {
  display: none;
}

.selected_row .table_circle {
  background-color: #ff4242;
  padding: 10px;
  width: 30px;
  height: 30px;
}

.stations-train-table_row:first-child.selected_row .table_circle{
  width: 20px;
  height: 20px;
}

.selected_row .table_circle i {
  display: block;
}

.stations-train_map {
  max-width: 100%;
  -webkit-border: 2px solid #4b516e;
  -moz-border: 2px solid #4b516e;
  -ms-border: 2px solid #4b516e;
  -o-border: 2px solid #4b516e;
  border: 2px solid #4b516e;
}

/*  FOOTER
=============================*/

.footer {
  background-color: #4c5272;
  padding: 40px 0 85px;
}

.footer_title {
  color: #fff;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  margin: 0 0 25px;
  font-weight: 300;
}

.footer_list,
.footer_soc-list {
  padding: 0;
}

.footer_soc-list {
  margin-bottom: 25px;
}

.footer-list_element {
  display: block;
  margin-bottom: 13px;
}

.footer-list_link {
  font-size: 14px;
  line-height: 14px;
  color: #ffb938;
  position: relative;
  font-weight: 300;
  transition: all .3s;
}

.footer-list_link:hover {
  font-weight: 500;
  color: #ffb938;
  text-decoration: none;
}

.footer-list_link:after {
  content: '';
  position: absolute;
  -webkit-border-bottom: 1px solid #ffb938;
  -moz-border-bottom: 1px solid #ffb938;
  -ms-border-bottom: 1px solid #ffb938;
  -o-border-bottom: 1px solid #ffb938;
  border-bottom: 1px solid #ffb938;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: all .3s;
}

.footer-list_link:hover:after {
  -webkit-border-bottom-width: 2px;
  -moz-border-bottom-width: 2px;
  -ms-border-bottom-width: 2px;
  -o-border-bottom-width: 2px;
  border-bottom-width: 2px;
}

.footer-soc-list_element {
  display: inline-block;
  margin-right: 15px;
}

.footer-soc-list_element:last-child {
  margin-right: 0;
}

.footer-soc-list_link {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  padding: 7px;
  display: block;
  transition: all .3s;
}

.footer-soc-list_link:hover {
  color: #fff;
  opacity: .6;
}

.footer-soc-list_element__vk {
  background-color: #4c658f;
}
.footer-soc-list_element__facebook {
  background-color: #4c5998;
}
.footer-soc-list_element__twitter {
  background-color: #55acee;
}
.footer-soc-list_element__instagramm {
  background-color: #6b5272;
}
.footer-soc-list_element__google {
  background-color: #dc5272;
}

.footer_text {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  font-weight: 200;
}

.main-subscribtion-form_input-block {
  position: relative;
}

.main-subscribtion-form_input-block .help-block.help-block-error  {
  width: 230px;
  position: absolute;
  top: 50px;
  font-weight: 500;
}

#valid {
  position: absolute;
  left: 80px;
  bottom: -4px;
  color: #c41414;
  font-size: 18px;
  text-transform: uppercase;
}


.main_gallery a {
  display: inline-block;
  width: calc(12.5% - 4px);
  height: 180px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Modal City
======================*/
.modal_choose-city {
  /* display: none; */
  position: absolute;
  background-color: #fff;
  width: 980px;
  max-width: 100%;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  top: 75px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  text-align: center;
  transform: translateY(calc(-100% - 85px));
  transition: all .5s;
}

.modal_choose-city.choose-city_open {
  height: auto;
  z-index: 10;
  transform: translateY(0);
  transition: all .5s;
}

.choose-city_content {
  position: relative;
  z-index: 2;
  height: 100%;
  padding: 15px 35px;
  background-color: #fff;
  overflow: hidden;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.choose-city_list-alphabet,
.choose-city-tab_list {
  padding: 0;
  margin: 0;
}

.choose-city_char,
.choose-city-tab_element {
  display: inline-block;
  margin: 0;
}

.choose-city-tab_element {
  width: 180px;
  text-align: left;
}

.choose-city_char {
  padding: 0 10px;
}

.choose-city-tab_link {
  color: #000;
  font-size: 18px;
  margin-bottom: 23px;
  display: inline-block;
  -webkit-border-bottom: 2px dotted #6280a9;
  -moz-border-bottom: 2px dotted #6280a9;
  -ms-border-bottom: 2px dotted #6280a9;
  -o-border-bottom: 2px dotted #6280a9;
  border-bottom: 2px dotted #6280a9;
  transition: all .3s;
}

.choose-city-tab_link:active,
.choose-city-tab_link:focus {
  color: inherit;
  text-decoration: none;
}

.choose-city-tab_link:hover {
  color: #000;
  text-decoration: none;
  -webkit-border-bottom-style: solid;
  -moz-border-bottom-style: solid;
  -ms-border-bottom-style: solid;
  -o-border-bottom-style: solid;
  border-bottom-style: solid;
}

.choose-city-tab_list {
  text-align: left;
  display: none;
  max-width: 100%;
  /*-webkit-column-count: 5;*/
  /*-moz-column-count: 5;*/
  /*-ms-column-count: 5;*/
  /*-o-column-count: 5;*/
  /*column-count: 5;*/
}

.choose-city-tab_list.active {
  display: block;
  margin: 0 auto;
}

.restourants-page-contain-search_input__choose-city {
  -webkit-border: 2px solid #5572a9;
  -moz-border: 2px solid #5572a9;
  -ms-border: 2px solid #5572a9;
  -o-border: 2px solid #5572a9;
  border: 2px solid #5572a9;
  padding: 10px 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 50%;
}

.choose-city_link {
  font-size: 20px;
  -webkit-border-bottom: 2px dotted #6280a9;
  -moz-border-bottom: 2px dotted #6280a9;
  -ms-border-bottom: 2px dotted #6280a9;
  -o-border-bottom: 2px dotted #6280a9;
  border-bottom: 2px dotted #6280a9;
  transition: .3s;
}

.choose-city_link:hover,
.choose-city-tab_link:hover {
  cursor: pointer;
  opacity: .7;
}

.choose-city_list-alphabet {
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
}

.choose-city_close-button {
  position: absolute;
  display: none;
  top: 20px;
  right: 20px;
  font-size: 20px;
  transition: all .3s;
}

.choose-city_close-button .glyphicon {
  top: 3px;
  left: 1px;
}

.choose-city_close-button:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.modal_choose-city:before {
  content: '';
  position: absolute;
  top: 20px;
  bottom: 0px;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0px 0px 10px black;
  -moz-box-shadow: 0px 0px 10px black;
  -ms-box-shadow: 0px 0px 10px black;
  -o-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
  z-index: 1;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/*  Food page
=================================*/
.restourants-page-restaurants_restaurant.food-content {
  padding-right: 20px;
}

.food-content_order-content {
  height: 135px;
  position: relative;
}

/*.products_block .food-content_order-content {
  min-height: 135px;
}*/

.food-content_text {
  display: block;
  font-size: 15px;
  line-height: 15px;
  font-weight: 300;
  overflow: hidden;
  max-height: 45px;
}

.products_block .food-content-text_count {
  font-size: 20px;
  line-height: 1;
  color: #333956;
  margin-bottom: 25px;
  margin-top: 35px;
  font-weight: 400;
}

#product-modal .food-content-text_count {
    font-size: 17px;
    line-height: 1;
    color: #333956;
    margin-bottom: 25px;
    margin-top: 0px;
    font-weight: 400;
}

.food-content_text.food-content-text_description {
  font-size: 17px;
  color: #333956;
  font-weight: 400;
  line-height: 17px;
  max-height: 100%;
}

.food-content-text_btn {
  padding: 0px;
}

.food-mobile {
    display: none;
}

.food-content_title {
  font-size: 22px;
  line-height: 1;
  color: #333956;
  font-weight: 500;
}

.food-content_bye {
  padding: 5px 30px;
  display: inline-block;
  text-align: center;
  right: 0;
  bottom: 0;
  top: auto;
  -webkit-border-bottom: 0px solid #e4a325;
  -moz-border-bottom: 0px solid #e4a325;
  -ms-border-bottom: 0px solid #e4a325;
  -o-border-bottom: 0px solid #e4a325;
  border-bottom: 0px solid #e4a325;
  -webkit-border-right: 0px solid #e4a325;
  -moz-border-right: 0px solid #e4a325;
  -ms-border-right: 0px solid #e4a325;
  -o-border-right: 0px solid #e4a325;
  border-right: 0px solid #e4a325;
  -webkit-border-left: 0px solid #e4a325;
  -moz-border-left: 0px solid #e4a325;
  -ms-border-left: 0px solid #e4a325;
  -o-border-left: 0px solid #e4a325;
  border-left: 0px solid #e4a325;
  transition: all .1s;
}

.food-content-text_cost {
  font-size: 27px;
  line-height: 30px;
  color: #333956;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 400;
}

#product-modal .food-content-text_cost {
    margin-bottom: 0px;
    margin-top: 0px;
}

.basket-content_cell_input {
  background-color: #ffffff;
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  text-align: center;
  font-size: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  width: 75px;
  height: 35px;
  max-width: 100px;
  position: relative;
  z-index: 2;
}

.food-content-bye_cost,
.food-content-bye_text {
  display: block;
  color: #000;
}

.food-content-bye_cost {
  font-size: 16px;
  line-height: 16px;
}

.food-content-bye_text {
  font-size: 20px;
  line-height: 25px;
}

.modal-dialog.modal-lg .btn:hover,
.restourants-page-search_button.food-content_bye:hover {
  text-decoration: none;
  opacity: .6;
}

.modal-dialog.modal-lg .modal-footer .btn:active,
.modal-dialog.modal-lg .modal-footer .btn:focus,
.restourants-page-search_button.food-content_bye:active,
.restourants-page-search_button.food-content_bye:focus {
  text-decoration: none;
  bottom: 0;
  -webkit-border-bottom-width: 1px;
  -moz-border-bottom-width: 1px;
  -ms-border-bottom-width: 1px;
  -o-border-bottom-width: 1px;
  border-bottom-width: 1px;
}

.food-content_order-content input {
  background-color: #ffffff;
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}

.product_quantity {
    width: 165px;
}

.food-content_order-content .food-content-order-content_input {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  width: 75px;
  height: 35px;
  position: relative;
  z-index: 2;
}

#product-modal .food-content_order-content .food-content-order-content_input {
    width: 45px;
}

.input-number_button {
  display: inline-block;
  color: #fff;
  background-color: #4b516e;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  width: 30px;
  height: 35px;
  position: relative;
  z-index: 1;
  transition: all .3s;
}

.input-number_button:hover {
  cursor: pointer;
  opacity: .6;
}

.decr {
  border-radius: 10px 0 0 10px;
  margin-right: -10px;
  padding: 5px 10px 5px 5px;
}

.incr {
  border-radius: 0 10px 10px 0;
  margin-left: -10px;
  padding: 5px 5px 5px 10px;
}

.restourants-page-contain_min-cost .input-number_button {
  height: 56px;
  font-size: 30px;
  line-height: 42px;
  width: 35px;
}

.input-number {
  text-align: center;
}

.restourants-page-contain_min-cost .decr {
  border-radius: 10px 0 0 10px;
  margin-right: -10px;
  padding: 10px 10px;
}

.restourants-page-contain_min-cost .incr {
  border-radius: 0 10px 10px 0;
  margin-left: -10px;
  padding: 10px 10px;
}

.glyphicon,
.close {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  transition: all .4s;
}

.glyphicon:hover,
.close:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*  Basket Page
=============================*/
.basket-content-header_cell,
.basket-content-header_cell:first-child,
.basket-content-header_cell:last-child,
.basket-content_cell,
.basket-content_cell:first-child,
.basket-content_cell:nth-child(2),
.basket-content_cell:last-child {
  background-color: #f7f7f7;
  -webkit-border-bottom: 1px solid #333;
  -moz-border-bottom: 1px solid #333;
  -ms-border-bottom: 1px solid #333;
  -o-border-bottom: 1px solid #333;
  border-bottom: 1px solid #333;
  text-align: center;
  color: #333;
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
}

.basket-content-header_cell,
.basket-content-header_cell:first-child,
.basket-content-header_cell:last-child {
  -webkit-border-width: 2px;
  -moz-border-width: 2px;
  -ms-border-width: 2px;
  -o-border-width: 2px;
  border-width: 2px;
}

.basket-content-header_cell:first-child,
.basket-content_cell:first-child {
  width: 100px;
}

.basket_content {
  -webkit-border-top: 1px solid #535975;
  -moz-border-top: 1px solid #535975;
  -ms-border-top: 1px solid #535975;
  -o-border-top: 1px solid #535975;
  border-top: 1px solid #535975;
  -webkit-border-bottom: 1px solid #535975;
  -moz-border-bottom: 1px solid #535975;
  -ms-border-bottom: 1px solid #535975;
  -o-border-bottom: 1px solid #535975;
  border-bottom: 1px solid #535975;
  margin-bottom: 15px;
  padding: 25px 20px 25px 20px;
}

.basket-page_food-image {
  display: block;
  background-color: #fff;
  -webkit-border: 1px solid #4b516e;
  -moz-border: 1px solid #4b516e;
  -ms-border: 1px solid #4b516e;
  -o-border: 1px solid #4b516e;
  border: 1px solid #4b516e;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  max-width: 100%;
}

.basket-content_table {
  margin: 0 auto 20px;
  width: 100%;
  min-width: 520px;
  background-image: url(../image/stations-train.jpg);
}

/*  Blog
=======================================*/
.blog_image-block {
  float: left;
  margin-right: 20px;
}

.blog_image {
  display: block;
  background-color: #fff;
  -webkit-border: 1px solid #4b516e;
  -moz-border: 1px solid #4b516e;
  -ms-border: 1px solid #4b516e;
  -o-border: 1px solid #4b516e;
  border: 1px solid #4b516e;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  max-width: 100%;
}

.blog-content_button {
  max-width: 160px;
}

.blog-content_text {
  height: auto;
  max-height: none;
  overflow: visible;
}
/*
=====================================*/
.auth_block {
  background-image: url(../image/main-subscribtion-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  -webkit-box-shadow: inset 0px 5px 20px -14px black;
  -moz-box-shadow: inset 0px 5px 20px -14px black;
  -ms-box-shadow: inset 0px 5px 20px -14px black;
  -o-box-shadow: inset 0px 5px 20px -14px black;
  box-shadow: inset 0px 5px 20px -14px black;
}

.auth_block__background {
  background-color: rgba(216, 216, 216, .5);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding: 0 40px 20px;
  margin-bottom: 20px;
}

.auth_block .form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.auth_block .form-horizontal .help-block.col-sm-3 {
  width: auto;
  float: none;
  padding: 0;
}

.auth_block .form-horizontal .btn.btn-primary {
  background-color: rgba(255, 187, 56, .74);
  padding: 13px 12px;
  color: #4b516f;
  text-transform: uppercase;
  width: 245px;
  text-align: center;
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 20px;
}

.auth_block .form-horizontal .btn {
  transition: all .3s;
}

.btn.btn-primary {
  transition: all .3s;
}

.auth_block .form-horizontal .btn:focus,
.auth_block .form-horizontal .btn:visited,
.auth_block .form-horizontal .btn:active {
  outline: none;
}

.main-subscribtion-form_subscribe:hover,
.auth_block .form-horizontal .btn:hover,
.btn.btn-primary:hover {
  opacity: .6;
}

.btn.btn-primary:hover {
  color: #4b516e;
  background-color: rgba(255, 187, 56, .74);
  border-color: rgba(255, 187, 56, .74);
}

.auth_block .form-horizontal .form-control {
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 21px;
  line-height: 21px;
  background-color: rgba(255, 255, 255, .7);
  padding: 0 12px;
  line-height: 34px;
}

.stations-search_input + span>span>.select2-selection {
  width: 100%;
  padding: 20px;
  margin-right: 20px;
  font-size: 19px;
  font-weight: 100;
  color: #9ea2b5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  background-color: #fff;
  height: auto;
  line-height: 23px;
  min-height: 63px;
}

.stations_search .form-group {
  /*width: calc(25% - 50px);*/
  margin-right: 15px;
}

.select2-selection__arrow {
    display: none;
}

.stations_search .control-label {
  display: none;
}

.stations_search .order-home-search_button {
  top: 0px;
  line-height: 23px;
  padding: 20px 65px;
  background-color: #ffbb38;
  color: #4b516e;
  font-size: 24px;
  line-height: 24px;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  position: relative;
  width: auto;
  margin-bottom: 0;
}

.stations_search .select2-container--krajee .select2-selection--single .select2-selection__arrow {
  -webkit-border-left: none;
  -moz-border-left: none;
  -ms-border-left: none;
  -o-border-left: none;
  border-left: none;
  right: 15px;
  top: 8px;
}

.stations_search .select2-container--krajee .select2-selection--single .select2-selection__arrow b {
  -webkit-border-width: 15px 10px 0 10px;
  -moz-border-width: 15px 10px 0 10px;
  -ms-border-width: 15px 10px 0 10px;
  -o-border-width: 15px 10px 0 10px;
  border-width: 15px 10px 0 10px;
}

.stations_search .select2-container .select2-selection--single .select2-selection__clear {
  font-size: 30px;
  line-height: 18px;
  right: 10px;
}

.stations_search .help-block {
  position: absolute;
  color: #ff8b8b;
}

.select2-container--krajee .select2-dropdown {
  -webkit-border-color: #fff;
  -moz-border-color: #fff;
  -ms-border-color: #fff;
  -o-border-color: #fff;
  border-color: #fff;
}

.del-item{
  cursor: pointer;
}

.order-home-food_link:hover,
.order-home-food_link:active,
.order-home-food_link:focus {
  text-decoration: none;
  color: inherit;
}

.modal-content .basket-content-header_cell,
.modal-content .basket-content-header_cell:first-child,
.modal-content .stations-train-table_row,
.modal-content .stations-train-table-header_row,
.modal-content .basket-content_cell,
.modal-content .stations-train-table_row.selected_row {
  background-color: transparent;
}

.modal-content .basket-content_table {
  background-image: none;
}

.products_block .restourants-page-contain_restaurants {
  background-color: rgba(233, 235, 243, 0.4);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 65px 20px 125px;
}

div .pagination > li > a,
div .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #4b516e;
  text-decoration: none;
  background-color: #fff;
  -webkit-border: 1px solid #4b516e;
  -moz-border: 1px solid #4b516e;
  -ms-border: 1px solid #4b516e;
  -o-border: 1px solid #4b516e;
  border: 1px solid #4b516e;
}

div .pagination > .active > a,
div .pagination > .active > span,
div .pagination > .active > a:hover,
div .pagination > .active > span:hover,
div .pagination > .active > a:focus,
div .pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #4b516e;
  -webkit-border-color: #4b516e;
  -moz-border-color: #4b516e;
  -ms-border-color: #4b516e;
  -o-border-color: #4b516e;
  border-color: #4b516e;
}

div .pagination > li > a:hover,
div .pagination > li > span:hover,
div .pagination > li > a:focus,
div .pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: rgba(35, 82, 124, 0.26);
  -webkit-border-color: #23527c;
  -moz-border-color: #23527c;
  -ms-border-color: #23527c;
  -o-border-color: #23527c;
  border-color: #23527c;
}

div .pagination > .disabled > span,
div .pagination > .disabled > span:hover,
div .pagination > .disabled > span:focus,
div .pagination > .disabled > a,
div .pagination > .disabled > a:hover,
div .pagination > .disabled > a:focus {
  color: #4b516e;
  cursor: not-allowed;
  background-color: rgba(35, 82, 124, 0.26);
  -webkit-border-color: #4b516e;
  -moz-border-color: #4b516e;
  -ms-border-color: #4b516e;
  -o-border-color: #4b516e;
  border-color: #4b516e;
}

.owl-carousel .owl-item .order-home-food_link:hover img {
  max-width: 110px;
  transition: all .3s;
}

.modal-dialog.modal-lg .modal-content {
  background-color: rgba(216, 216, 216, .9);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding: 0 40px;
}

.modal-dialog.modal-lg .modal-header .close {
  margin-top: -2px;
  font-size: 40px;
  line-height: 21px;
  position: relative;
  z-index: 10;
  opacity: 1;
}

.modal-footer {
  position: relative;
  z-index: 10;
}

.modal-dialog.modal-lg .btn.btn-danger,
.modal-dialog.modal-lg .btn.btn-success,
.modal-dialog.modal-lg .btn.btn-default {
  padding: 10px 25px;
  color: #d0d0d0;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  position: relative;
  top: 2px;
  margin-right: 5px;
  transition: all .1s;
}

.modal-body input {
  background-color: #ffffff;
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  /*margin-left: 10px;*/
}

.modal-dialog.modal-lg .modal-content .modal-body .btn.btn-success {
  margin-right: 0;
  color: #4b516e;
  font-weight: 500;
  max-width: 100%;
}

.modal-dialog.modal-lg .modal-footer .btn.btn-danger {
  background-color: #e45128;
  transition: all .1s;
}
.modal-dialog.modal-lg .modal-footer .btn.btn-success {
  background-color: #217915;
  transition: all .1s;
}
.modal-dialog.modal-lg .modal-footer .btn.btn-default {
  background-color: #4b516e;
  margin-bottom: 0;
  transition: all .1s;
}

.basket_page .restourants-page-contain_restaurants {
  background-color: rgba(216, 216, 216, .7);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding: 40px 40px 0;
  margin: 30px 0;
}

.basket_page .input-group-addon {
  background-color: rgba(255, 255, 255, .7);
  -webkit-border-color: rgba(255, 255, 255, 0);
  -moz-border-color: rgba(255, 255, 255, 0);
  -ms-border-color: rgba(255, 255, 255, 0);
  -o-border-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

.basket_page .basket-content-header_cell,
.basket_page .basket-content-header_cell:first-child,
.basket_page .stations-train-table_row,
.basket_page .stations-train-table-header_row,
.basket_page .basket-content_cell,
.basket_page .stations-train-table_row.selected_row {
  background-color: transparent;
}

.basket_page .basket-content_table {
  background-image: none;
}

.basket_page .basket-content-header_cell {
  font-weight: 400;
}

.basket_page .basket-content-header_cell {
  min-width: 75px;
}

.basket_page form input,
.basket_page form textarea {
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 21px;
  line-height: 21px;
  background-color: rgba(255, 255, 255, .7);
  padding: 10px 12px;
}

.basket_page .field-order-delivery_at input {
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}

.basket_page .input-group-addon:nth-child(1) {
  background-color: rgba(255, 255, 255, .7);
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  -webkit-border-right: none;
  -moz-border-right: none;
  -ms-border-right: none;
  -o-border-right: none;
  border-right: none;
  -webkit-border-left: none;
  -moz-border-left: none;
  -ms-border-left: none;
  -o-border-left: none;
  border-left: none;
  -webkit-border-bottom: 1px solid rgba(255, 255, 255, .7);
  -moz-border-bottom: 1px solid rgba(255, 255, 255, .7);
  -ms-border-bottom: 1px solid rgba(255, 255, 255, .7);
  -o-border-bottom: 1px solid rgba(255, 255, 255, .7);
  border-bottom: 1px solid rgba(255, 255, 255, .7);
}

.basket_page .input-group-addon:nth-child(2) {
  background-color: rgba(255, 255, 255, .7);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-border-right: none;
  -moz-border-right: none;
  -ms-border-right: none;
  -o-border-right: none;
  border-right: none;
  -webkit-border-left: none;
  -moz-border-left: none;
  -ms-border-left: none;
  -o-border-left: none;
  border-left: none;
  -webkit-border-bottom: 1px solid rgba(255, 255, 255, .7);
  -moz-border-bottom: 1px solid rgba(255, 255, 255, .7);
  -ms-border-bottom: 1px solid rgba(255, 255, 255, .7);
  -o-border-bottom: 1px solid rgba(255, 255, 255, .7);
  border-bottom: 1px solid rgba(255, 255, 255, .7);
}

.basket_page .form-group {
  padding-bottom: 20px;
}

.btn {
  background-color: rgba(255, 187, 56, .74);
  padding: 13px 12px;
  color: #4b516e;
  text-transform: uppercase;
  width: 245px;
  text-align: center;
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 20px;
}

.basket_page .help-block {
  position: absolute;
}

.basket_display-count {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ff525b;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  padding: 0px 8px;
  opacity: .75;
}

input[type='number'] {
  -moz-appearance:textfield;
  -ms-appearance:textfield;
  -o-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input::-ms-outer-spin-button,
input::-ms-inner-spin-button {
  -webkit-appearance: none;
}

input::-o-outer-spin-button,
input::-o-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  position: relative;
  z-index: 9;
}
::-moz-input-placeholder {
  position: relative;
  z-index: 9;
}
:-ms-input-placeholder {
  position: relative;
  z-index: 9;
}
:-o-input-placeholder {
  position: relative;
  z-index: 9;
}

input:-moz-placeholder {
  position: relative;
  z-index: 9;
}

.main-about_link {
  display: block;
  transition: all .3s;
}

.main-about_link:hover {
  text-decoration: none;
  color: inherit;
  opacity: .6;
}

.fade.modal.in .modal-dialog .modal-content {
  background-color: rgba(216, 216, 216, .9);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding: 10px 40px;
  text-align: center;
}

.fade.modal.in .modal-dialog .modal-content .modal-header h2,
.fade.modal.in .modal-dialog .modal-content .main-order_link {
  color: #333956;
}

.fade.modal.in .modal-dialog .modal-content .main-order_link {
  display: inline-block;
}

.fade.modal.in .modal-dialog .close {
  color: #000;
  opacity: 1;
  font-size: 40px;
  position: absolute;
  right: 35px;
  top: 20px;
}

.main-order_link-block {
  display: block;
}

.main-order_link-block:hover .main-order_link {
  font-weight: 600;
}

.where-popup_image {
  width: 150px;
  display: block;
  margin: 0 auto 15px;
}

.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  z-index: 9 !important;
}

.all_stations {
  max-width: 800px;
  margin: 0 auto;
}

.basket-content-header_cell:nth-child(3) {
  width: 130px;
}

/*  History
=================================*/
.history_block {
  background-image: url(../image/home-order-background.jpg);
  padding: 20px 0;
}

.history-block_content {
  border-radius: 10px;
  background-color: rgba(233, 235, 243, 0.4);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 65px 20px 125px;
}

.history-block_restaurant-logo {
  margin-right: 0;
  height: 230px;
}

.history-block_agent-name {
  font-size: 35px;
  line-height: 35px;
  font-weight: 400;
  color: #4b516e;
  margin: 0 0 15px;
}

.history-block_costumer,
.history-block_date,
.history-block_status {
  font-size: 18px;
  line-height: 18px;
  display: inline-block;
  font-weight: 400;
  color: #4b516e;
  margin: 0 15px 15px 0px;
}

.history-block_costumer {
  display: block;
}

.history-block_status {
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 500;
}

.history-block_status.wait {
  background-color: #ffd801;
}

.history-block_status.processed {
  background-color: #4b516e;
  color: #f4f1f2;
}

.history-block_status.done {
  background-color: #05af00;
  color: #f4f1f2;
}

.history-block_status.canceled {
  background-color: #d43800;
  color: #f4f1f2;
}

.history-block-table-header_cell,
.history-block-table_cell {
  -webkit-border-bottom: 1px solid #333;
  -moz-border-bottom: 1px solid #333;
  -ms-border-bottom: 1px solid #333;
  -o-border-bottom: 1px solid #333;
  border-bottom: 1px solid #333;
  text-align: center;
  color: #4b516e;
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
}

.history-block-table-header_cell {
  font-weight: 400;
}

.history-block_table {
  width: 100%;
}

.history-block-table_cell img {
  max-width: 70px;
  border-radius: 5px;
  border: 1px solid #4b516e;
  padding: 5px;
  background-color: #fff;
}

.restourants-page-contain_restaurants .btn.btn-primary {
  color: #d0d0d0;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  position: relative;
  top: 2px;
  margin-right: 5px;
  background-color: #217915;
  width: 245px;
  padding: 10px 25px;
  margin-bottom: 20px;
  transition: all .1s;
}

.field-mailform-email {
  float: left;
}

.poltic {
  color: #3c763d;
  text-decoration: underline;
  margin-bottom: 15px;
  display:  inline-block;;
}

.footer_politic {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  margin: 7px 0 0;
  font-weight: 400;
}

.restourants-page-contain-search_input + .select2 > .selection > .select2-selection {
  width: 100%;
  padding: 15px 20px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 100;
  color: #9ea2b5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  height: auto;
}

.restourants-page-contain-search_input + .select2 > .selection > .select2-selection > .select2-selection__arrow {
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  top: 7px;
}

.restourants-page-contain_min-cost .form-group.field-range_value {
  display: inline-block;
}

.restourants-page-restaurants_title__bonusses {
  margin-bottom: 10px;
}

.promo-btn,
.promo-code {
  display: block;
  margin: 15px auto;
}

.btn.promo-btn {
  background-color: #ffbb38;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 25px;
  max-width: 100%;
}

.promo-code {
  background-color: #ffffff;
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.restourants-page__bonusses-block {
  height: 155px;
  text-align: center;
}

.pocket {
  text-align: right;
  position: relative;
  left: 15px;
}

body .user-page_list {
  padding-right: 0;
  padding-top: 30px;
  text-align: right;
}

body .user-page_link {
  display: block;
  background-color: #aaa;
  color: #000;
  line-height: 45px;
  margin-bottom: -5px;
  -moz-box-shadow: -4px -2px 8px rgba(0, 0, 0, 0.56);
  -ms-box-shadow: -4px -2px 8px rgba(0, 0, 0, 0.56);
  -o-box-shadow: -4px -2px 8px rgba(0, 0, 0, 0.56);
  box-shadow: -4px -2px 8px rgba(0, 0, 0, 0.56);
  width: 125px;
  float: right;
  position: relative;
  z-index: 1;
  border-radius: 10px 0 0 3px;
  padding-right: 10px;
  -moz-border-bottom: 2px solid #fff;
  -ms-border-bottom: 2px solid #fff;
  -o-border-bottom: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -moz-border-left: 2px solid #fff;
  -ms-border-left: 2px solid #fff;
  -o-border-left: 2px solid #fff;
  border-left: 2px solid #fff;
}

body .user-page_link:hover,
body .user-page_link:active,
body .user-page_link:focus {
  color: rgba(0, 0, 0, .5);
  text-decoration: none;
}

body .user-page_link.user-page_link__red {
  background-color: #e63940;
  -moz-border-color: #b9262c;
  -ms-border-color: #b9262c;
  -o-border-color: #b9262c;
  border-color: #b9262c;
}

body .user-page_link.user-page_link__orange {
  background-color: #e87b13;
  -moz-border-color: #ca680b;
  -ms-border-color: #ca680b;
  -o-border-color: #ca680b;
  border-color: #ca680b;
}

body .user-page_link.user-page_link__yellow {
  background-color: #d2e604;
  -moz-border-color: #afbf12;
  -ms-border-color: #afbf12;
  -o-border-color: #afbf12;
  border-color: #afbf12;
}

body .user-page_link.user-page_link__green {
  background-color: #59b32f;
  -moz-border-color: #479523;
  -ms-border-color: #479523;
  -o-border-color: #479523;
  border-color: #479523;
}

body .user-page_link.user-page_link__blue {
  background-color: #3746ba;
  -moz-border-color: #1919b5;
  -ms-border-color: #1919b5;
  -o-border-color: #1919b5;
  border-color: #1919b5;
}

body .user-page_link.open {
  z-index: 2;
}

body .user-page_content {
  background-color: rgba(216, 216, 216, .5);
  -moz-border: 2px solid #fff;
  -ms-border: 2px solid #fff;
  -o-border: 2px solid #fff;
  border: 2px solid #fff;
  padding: 15px 20px;
  -moz-border-color: #e63940;
  -ms-border-color: #e63940;
  -o-border-color: #e63940;
  border-color: #e63940;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  min-height: 320px;
  max-height: calc(100vh - 120px);
}

body .user-page_content #history_account,
body .user-page_content #important {
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 320px;
    max-height: calc(100vh - 145px);
    max-width: 100%;
}

body .user-page_tab {
  display: none;
}

body .user-page_tab.open {
  display: block;
}

body .message {
  -moz-border-bottom: 1px solid #aaa;
  -ms-border-bottom: 1px solid #aaa;
  -o-border-bottom: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px;
  display: block;
  color: #000;
}

body .message:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

body .message:last-child {
  -moz-border-bottom: none;
  -ms-border-bottom: none;
  -o-border-bottom: none;
  border-bottom: none;
  margin-bottom: 0;
}

body .message_title {
  margin-left: 15px;
  font-weight: 300;
}

body .message.new .message_title,
body .message.new .message_text {
  font-weight: 600;
}

body .message .message_text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body .user-page_tab .user-page_input {
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 22px;
  background-color: rgba(255, 255, 255, .7);
  padding: 8px 12px;
  display: block;
  width: 100%;
}

body .user-page_btn,
body .conductor_btn {
  background-color: rgba(255, 187, 56, .74);
  padding: 13px 12px;
  color: #4b516f;
  text-transform: uppercase;
  width: 245px;
  text-align: center;
  -webkit-border: none;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 20px;
  margin-top: 15px;
}

body .user-page_label {
  font-size: 20px;
  font-weight: 400;
}

body .message_content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4c5272;
  z-index: 99;
}

body .message_content.open {
  display: block;
}

body .message-content_block {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  width: 600px;
  height: 255px;
  max-width: 100%;
  overflow: hidden;
  background-color: #fff;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
}

body .message-content_close {
  position: absolute;
  right: 20px;
  margin: auto;
  top: 28px;
  width: 20px;
  height: 20px;
  display: block;
}

body .message-content_close::before,
body .message-content_close::after {
  content: '';
  position: absolute;
  display: block;
  -moz-border-bottom: 2px solid #000;
  -ms-border-bottom: 2px solid #000;
  -o-border-bottom: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 20px;
  top: 0;
}

body .message-content_close::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
body .message-content_close::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

body .message-content_title {
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: rgba(76, 82, 114, 0.5);
  border-radius: 8px 8px 0 0;
}

body .message-content_text {
  overflow-y: auto;
  height: 195px;
  background-color: rgba(76, 82, 114, 0.2);
  padding: 5px 10px;
  border-radius: 0 0 8px 8px;
}

body .conductor_text {
  font-size: 18px;
}

body .conductor_time {
  margin-bottom: 20px;
  width: 340px;
}

body .conductor_time .user-page_input {
  width: calc(50% - 10px);
  margin-right: 10px;
  display: inline-block;
}

body .conductor_time .user-page_input:last-child {
  margin-right: 0;
}

/*
 * Download begin
 */
.download {
  height: 560px;
  margin-top: 80px;
  background-image: url('/../image/download.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.download_title {
  font-size: 37px;
  font-weight: bold;
  color: #304670;
  margin-top: 110px;
  margin-bottom: 15px;
}

.download_text {
  color: #304670;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 55px;
}

.download_img {
  position: absolute;
  top: 140px;
  right: 35px;
  width: 20px;
  height: 85px;
}

.download_link {
  margin-right: 15px;
  display: inline-block;
}

.download_link img {
  width: 230px;
  height: 65px;
}

.download_info {
  margin-top: 60px;
  color: #304670;
  font-size: 16px;
}

.download_hand {
  height: 560px;
  position: relative;
}

.download_hand img {
  height: 640px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 440px;
}

/*
 * Keyvisual
 */
.keyvisual {
  -moz-border-radius: 0 0 50% 50% / 0 0 10% 10%;
  -ms-border-radius: 0 0 50% 50% / 0 0 10% 10%;
  -o-border-radius: 0 0 50% 50% / 0 0 10% 10%;
  border-radius: 0 0 50% 50% / 0 0 10% 10%;
  padding-bottom: 5px;
  overflow: hidden;
}

 .keyvisual-carousel {
   position: relative;
 }

 .keyvisual_img {
   position: absolute;
   /*top: 0;*/
   bottom: -25px;
   right: 0;
   margin: auto;
   max-width: 50%;
 }

 .keyvisual_img > img {
   max-width: 100%;
   min-height: 100%;
 }

.keyvisual_item {
  padding-top: 135px;
  padding-bottom: 120px;
  height: 560px;
  position: relative;
}

.keyvisual_text {
  font-size: 25px;
  color: #fefefe;
  margin-bottom: 30px;
  font-weight: bold;
  position: relative;
  text-shadow: 0 0 12px black;
  z-index: 2;
}

.keyvisual_text__upper {
  text-transform: uppercase;
}

.keyvisual_title {
  margin-top: 0;
  margin-bottom: 35px;
  color: #fefefe;
  font-size: 53px;
  font-weight: bold;
  width: 500px;
  position: relative;
  text-shadow: 0 0 12px black;
  z-index: 2;
}

/*.keyvisual-carousel .owl-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 1170px;
  margin: auto;
}*/

.keyvisual-carousel .owl-prev,
.keyvisual-carousel .owl-next {
  color: transparent;
  position: relative;
  height: 50px;
}

.keyvisual-carousel .owl-prev::before,
.keyvisual-carousel .owl-prev::after,
.keyvisual-carousel .owl-next::before,
.keyvisual-carousel .owl-next::after {
  content: '';
  position: absolute;
  -moz-border-bottom: 3px solid #fefefe;
  -ms-border-bottom: 3px solid #fefefe;
  -o-border-bottom: 3px solid #fefefe;
  border-bottom: 3px solid #fefefe;
  width: 50px;
}

.keyvisual-carousel .owl-prev::before {
  transform: rotate(110deg);
  top: 0;
  left: 0;
}

.keyvisual-carousel .owl-next::before {
  transform: rotate(70deg);
  top: 0;
  right: 0;
}

.keyvisual-carousel .owl-prev::after {
  transform: rotate(70deg);
  bottom: 0;
  left: 0;
}

.keyvisual-carousel .owl-next::after {
  transform: rotate(110deg);
  bottom: 0;
  right: 0;
}

.keyvisual-carousel .owl-prev {
  float: left;
}

.keyvisual-carousel .owl-next {
  float: right;
}

.keyvisual-carousel .owl-dots {
  height: 37px;
  padding-top: 20px;
  position: absolute;
  width: 200px;
  left: 0;
  right: 0;
  bottom: -5px;
  margin: auto;
  text-align: center;
}

.keyvisual-carousel .owl-dots::after {
  content: '';
  background-image: url('/../image/dots-triangle.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
}

.keyvisual-carousel .owl-dot {
  height: 12px;
  width: 12px;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-border: 1px solid #dddcdc;
  -ms-border: 1px solid #dddcdc;
  -o-border: 1px solid #dddcdc;
  border: 1px solid #dddcdc;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  z-index: 2;
}

.keyvisual-carousel .owl-dot:last-child {
  margin-right: 0;
}

.keyvisual-carousel .owl-dot.active {
  -moz-border-color: #304670;
  -ms-border-color: #304670;
  -o-border-color: #304670;
  border-color: #304670;
  -moz-border-width: 2px;
  -ms-border-width: 2px;
  -o-border-width: 2px;
  border-width: 2px;
}

.keyvisual_link {
  display: inline-block;
  font-size: 17px;
  color: #362907;
  font-weight: bold;
  text-align: center;
  line-height: 45px;
  height: 55px;
  width: 300px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -moz-border: 2px outset #fdce6d;
  -ms-border: 2px outset #fdce6d;
  -o-border: 2px outset #fdce6d;
  border: 2px outset #fdce6d;
  -moz-border-left-width: 0px;
  -ms-border-left-width: 0px;
  -o-border-left-width: 0px;
  border-left-width: 0px;
  -moz-border-right-width: 0px;
  -ms-border-right-width: 0px;
  -o-border-right-width: 0px;
  border-right-width: 0px;
  -moz-border-bottom-color: rgba(199, 110, 16, 0.6);
  -ms-border-bottom-color: rgba(199, 110, 16, 0.6);
  -o-border-bottom-color: rgba(199, 110, 16, 0.6);
  border-bottom-color: rgba(199, 110, 16, 0.6);
  background: -webkit-linear-gradient(bottom, #f39448, #fec21e);
  background: -moz-linear-gradient(bottom, #f39448, #fec21e);
  background: -o-linear-gradient(bottom, #f39448, #fec21e);
  background: linear-gradient(to top, #f39448, #fec21e);
  position: relative;
  z-index: 2;
}

.keyvisual_link::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  box-shadow: 0px 7px 20px 7px rgba(199, 110, 16, 0.6);
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}

.keyvisual_link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.7);
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}

.owl-carousel .keyvisual_item .keyvisual_link img {
  width: 16px;
  max-width: 16px;
  display: inline-block;
  margin-right: 30px;
  position: relative;
  bottom: 3px;
}

.keyvisual-item_background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 70%;
  background-size: cover;
}

.keyvisual-carousel .owl-nav {
  position: absolute;
  /* top: 0; */
  bottom: 270px;
  left: 0;
  right: 0;
  /* height: 0px; */
  width: 1170px;
  margin: auto;
}

.download_link__yellow {
  -webkit-border-bottom: 3px solid #304670;
  -moz-border-bottom: 3px solid #304670;
  -ms-border-bottom: 3px solid #304670;
  -o-border-bottom: 3px solid #304670;
  border-bottom: 3px solid #304670;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  transition: all .3s;
}

.download_link__yellow:hover {
  opacity: .8;
}

.owl-theme .owl-dots .owl-dot span {
  opacity: 0;
}

body .owl-theme .owl-nav [class*=owl-]:hover,
body .owl-theme .owl-nav [class*=owl-] {
  background-color: transparent;
  color: transparent;
}


/*
 * Order to train
 */
.order-train_station,
.order-train_agents,
.order-train_food,
.order-train_way {
  display: none;
}

.order-train_station.active,
.order-train_agents.active,
.order-train_food.active,
.order-train_way.active {
 display: block;
}

.order-train_way {
  display: none;
  margin: 0 auto;
  padding: 25px 20px 45px 30px;
  background-color: #304670;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.order-train_way.active {
  display: block;
}

.order-train-way_title {
  color: #fefefe;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 20px;
}

.order-train-way_title__top {
  margin-bottom: 10px;
}

.order-train-way_input, body .stations_search .order-train-way_input + .select2 .select2-selection {
  background-color: #fff;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 0 20px;
  color: #5b5b5b;
  font-size: 15px;
  -moz-border: none;
  -ms-border: none;
  -o-border: none;
  border: none;
  width: 240px;
  max-width: 100%;
  /*margin-right: 15px;*/
  height: 45px;
  line-height: 45px;
}

.order-train-way_arrows {
  margin-left: -7px;
  margin-right: 8px;
}

.order-content_btn {
  padding-left: 45px;
  display: inline-block;
  font-size: 17px;
  color: #784e0f;
  font-weight: bold;
  text-align: center;
  line-height: 44px;
  height: 47px;
  width: 225px;
  max-width: 100%;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-border: 2px outset #cca000;
  -ms-border: 2px outset #cca000;
  -o-border: 2px outset #cca000;
  border: 2px outset #cca000;
  -moz-border-left-width: 1px;
  -ms-border-left-width: 1px;
  -o-border-left-width: 1px;
  border-left-width: 1px;
  -moz-border-right-width: 1px;
  -ms-border-right-width: 1px;
  -o-border-right-width: 1px;
  border-right-width: 1px;
  -moz-border-top-width: 1px;
  -ms-border-top-width: 1px;
  -o-border-top-width: 1px;
  border-top-width: 1px;
  background: -webkit-linear-gradient(bottom, #f8c300, #fbda00);
  background: -moz-linear-gradient(bottom, #f8c300, #fbda00);
  background: -o-linear-gradient(bottom, #f8c300, #fbda00);
  background: linear-gradient(to top, #f8c300, #fbda00);
  position: relative;
  top: 2px;
  overflow: hidden;
}

.order-content_btn .fa {
  position: absolute;
  top: -2px;
  bottom: 0;
  left: 0;
  border-right: 2px solid #e4ba00;
  padding: 15px;
  color: #784e0f;
}

.restourants-page-contain_min-cost .form-group {
  float: left;
  width: calc(50% - 5px);
  margin-right: 10px;
}

.restourants-page-contain_min-cost .form-group:nth-child(2) {
  margin-right: 0;
}

.restourants-page-contain_min-cost .irs  {
  clear: both;
}

.restourants-page-contain_min-cost .restourants-page-contain-min_input {
  max-width: 100%;
}

.restourants-page-contain_min-cost .irs-from,
.restourants-page-contain_min-cost .irs-to {
  display: none;
}

.planeta {
    display: block;
    margin-top: 20px;
}

.planeta img {
    max-width: 100%;
}

/*
 * New city block
 */
.choose-city_list {
  padding: 0;
  margin: 0;
  column-count: 4;
}

.choose-city-list_el {
  text-align: left;
  list-style: none;
}

.choose-city-list_letter {
  color: #ffb938;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.choose-city-list_link {
  color: #222;
  font-size: 18px;
}

.dropdown-city {
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    z-index: 100;
    padding: 15px;
    border: 1px solid #ddd;
    width: 160px;
    text-align: center;
}

.dropdown-city .header_city,
.dropdown-city .btn {
    height: 35px;
    font-weight: bold;
    width: 50px;
    display: inline-block;
    background-color: #4b516e;
    border-radius: 4px;
    color: #fff;
    margin: 0;
    line-height: 35px;
    padding: 0;
    font-size: 14px;
    text-transform: capitalize;
}

.dropdown-city .header_city {
  position: relative;
  top: 1px;
  margin-left: 5px;
  text-align: center;
}

.dropdown-city p {
  font-size: 16px;
}

.dropdown-city p b {
  font-size: 18px;
  color: #ffb32b;
}

#preOrdModal {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#preOrdModal .modal-sm {
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 77px);
}

#preOrdModal .modal-header {
    border-bottom: none;
}


#preOrdModal .modal-header h4 {
    color: #eb0e0e;
}


#preOrdModal .modal-content {
    background-color: #fff;
    padding: 0px;
}

#preOrdModal .modal-body {
    margin-top: -40px;
}

#preOrdModal .modal-body .btn {
    width: auto;
    margin: 0px 5px;
    text-transform: none;
    color: #fff;
    background: gray;
    font-size: 12px;
    padding: 8px 12px;
}

#preOrdModal .modal-body .preorder {
    background: #4b516e;
}

#preOrdModal .modal-header h4,
#preOrdModal .modal-body h4,
#preOrdModal .row {
    text-align: center;
}

.order-train-way_title__changed-text {
  margin: 0;
}

.restourants-resize {
  width: 100%;
}

.mobile-restourant_title {
  display: none;
  padding-left: 15px;
  padding-right: 15px;
}

.food-cost_currency {
  font-size: 16px;
}

.order-home_food .owl-carousel.owl-loaded {
  height: 155px;
  min-height: 155px;
}

#confirm-order-modal .modal-body .btn {
    width: auto;
    margin: 15px 5px;
    font-size: 15px;
    padding: 8px 12px;
}

#product-modal .food-content_order-content {
    height: auto;
    position: relative;
}
